<p>Starting base prices (i.e. vanilla sponge, buttercream finish, no decoration) are as follows:</p>
<table class="pricing-table">
    <tr>
        <th>Size in inches</th>
        <th>Round (diameter)</th>
        <th>Square (side length)</th>
    </tr>
    {% for size, roundPrice in products.celebrationCakes.pricing.round %}
        <tr>    
            <td>{{size}}</td>
            <td>£{{roundPrice}}</td>
            <td>£{{products.celebrationCakes.pricing.square[size]}}</td>
        </tr>
    {% endfor %}
</table>
<p>Tiered cakes will incur an additional cost starting at £8 per tier to cover the support structure.</p>