<p>Cupcakes start from £2.50 each.</p>
<p>They come in white paper cases as standard. If required, this can be changed for an additional cost to match the celebration theme.</p>
<p>Gift options:</p>
<ul style="list-style-type: none; padding: 0;">
    <li>Ribbon and bow - starts from £2.50</li>
    <li>Small gift note - £1</li>
</ul>