<section class="featured-in">
    <div>
        <div class="column-left">
            <h2>As featured in</h2>
            <div class="logo">
                {{ pictureElement("features/weddings-and-honeymoons-logo-white.png", "UK Weddings and Honeymoons Magazine logo", "min(400px, 90%)") }}
            </div>
            <div class="mobile-image">
                {{ pictureElement("features/weddings-and-honeymoons-magazine.png", "UK Weddings & Honeymoons magazine", "70vw") }}
            </div>
            <p>I was thrilled to be featured as the top cake maker in Berkshire in the prestigious Weddings &amp; Honeymoons magazine.</p>
            <p>I was also truly honoured to be a finalist in the 'Wedding Cake Designer' category of the UKWHA 2025 awards held at a spectacular gala evening at The Dorchester in Mayfair, London. This recognition means the world to me and is a significant milestone in my career.</p>
            <div class="rosettes">
                {{ pictureElement("features/ukwha-2025-finalist.png", "UK Weddings and Honeymoons Awards Wedding Cake Designer Finalist 2025 Rosette", "210px") }}
                {{ pictureElement("features/wh-feature-Rosette.png", "UK Weddings and Honeymoons Top UK Cake Maker February/March Rosette", "210px") }}
            </div>
        </div>
        <div class="column-right">
            {{ pictureElement("features/weddings-and-honeymoons-magazine.png", "UK Weddings & Honeymoons magazine", "400px") }}
        </div>
    </div>
</section>