{% from "macros/half-image-section.njk" import halfImageSection with context %}
{{ halfImageSection(
    'How about some wedding favours?',
    [
        "My wedding favours are lovingly crafted to delight your guests and include cake jars, sugar cookies and cakesicles. They are the perfect gesture to thank your guests for sharing in your special day."
    ],
    "/products/wedding-favours",
    "See wedding favours",
    "wedding-favours/bombe-landscape.jpg",
    "Hot chocolate bombe wedding favour"
) }}