<p>My starting price lists cover my most popular sizes - other size options are available.</p>

<p><a href="/pdfs/brochure-pricing-pages-for-25-26-27.pdf" target="_blank">Click here to see more pricing info and my 2025, 2026 and provisional 2027 lists.</a></p>

<p>For more information about all things wedding cakes please get it touch! </p>

<p>Wedding display cupcakes start from £3.50 each. These need to be ordered in multiples of 12 per flavour. </p>

<p>Dietary add on cupcakes to a wedding cake order start from £2.50 each. These need to be ordered in multiples of 6 per flavour.</p>