<html>
    <head>
        <title>{{ pages[page].title }}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Licorice&family=Open+Sans:ital,wght@0,300;0,500;1,300;1,400&display=swap" rel="stylesheet">

        <!-- build:css css/{{ page }}.min.css -->
        <link rel="stylesheet" type="text/css" href="css/global.css">
        <link rel="stylesheet" type="text/css" href="{{ "css/" ~ page ~ ".css"}}">
        <!-- endbuild -->

        {% block head %}{% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if pages[page].description %}<meta name="description" content="{{ pages[page].description }}">{% endif %}

        {# Favicons (put the relevant files in root directory of website) #}
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">

        <script src="https://kit.fontawesome.com/c57fec537e.js" crossorigin="anonymous"></script>

    </head>
    <body>
        <header>
            
            <div id="mobile-nav-header">
                {# Hamburger (https://jonsuh.com/hamburgers/) #}
                <button id="nav-toggle" class="hamburger">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>

            <nav>
                <a href="{{ "#about" if page == "index" else "index.html#about" }}">About</a>
                <a href="{{ "#contact" if page == "index" else "index.html#contact" }}">Contact</a>
                <a class="logo-container" href="index.html">
                    <div class="logo-background">
                        <img src="images/logo.svg" alt="Logo" height="100%" width="100%" />
                    </div>
                </a>
                <a href="portfolio.html">Portfolio</a>
                <a href="{{ "#testimonials" if page == "index" else "index.html#testimonials" }}">Testimonials</a>
            </nav>

            <div id="mobile-nav-image">
                {% from "macros/picture.njk" import pictureElement with context %}
                {{ pictureElement("mobile-nav-cake.png", "Parker penguin") }}
            </div>
        </header>

        <main>
            {% block main %}{% endblock %}
        </main>

        <footer>
            <div>
                <h3>About me</h3>
                <p><small>I'm a cake decorator based in Thatcham, West Berkshire, offering a wide range of flavours.</small></p>
            </div>
            <div>
                <h3>Let's talk</h3>
                <div class="contact-grid">
                    <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
                    <p><small>West Berkshire, UK</small></p>
                    <i class="far fa-envelope" aria-hidden="true"></i>
                    <p><small><a href="mailto:katie@cakesbykatie.co.uk">katie@cakesbykatie.co.uk</a></small></p>
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                    <p><small><a href="https://www.instagram.com/cakesbykatieoc" target="_blank">@cakesbykatieoc</a></small></p>
                    <i class="fab fa-facebook" aria-hidden="true"></i>
                    <p><small><a href="https://www.facebook.com/cakesbykatieoc" target="_blank">@cakesbykatieoc</a></small></p>
                </div>
            </div>
            <div class="copyright-container">
                <p><small>&copy; 2022 Katie&nbsp;O'Callaghan</small></p>
            </div>
        </footer>

        <!-- build:js js/{{ page }}.min.js -->
        <script type="text/javascript" src="js/nav-menu.js" defer></script>
        {% block scripts %}{% endblock %}
        <!-- endbuild -->
    </body>
</html>