{% set type = "occasion" %}
{% extends "layout.njk" %}

{% block main %}
    <div class="text">
        {% if pages[page].h2 %}
            <h2>{{ pages[page].h2 }}</h2>
        {% endif %}

        {% from "macros/picture.njk" import pictureElement with context %}
        {{ pictureElement("portfolio/" ~ portfolio[pages[page].exampleCake].images[0].src, pages[page].imageAlt if pages[page].imageAlt else "Example " ~ pages[page].productName, "min(40vw, 210px)") }}

        {% block text %}{% endblock %}
    </div>
{% endblock %}