{% set page = "afternoon-tea" %}
{% extends "occasion.njk" %}

{% block text %}
    <p>Cakes and cupcakes for your afternoon tea can be finished in either buttercream or fondant and you can choose from an extensive list of <a href="/flavours">sponge flavours</a>. I can also cater for certain dietary requirements like dairy and gluten free.</p>

    <p>There's also a deluxe cupcake flavour range which offers something extra special and a little bit different.</p>
{% endblock %}