{% set page = "anniversary" %}
{% extends "occasion.njk" %}

{% block text %}
    <p>You can either send me your own design, choose a cake from <a href="/portfolio">my portfolio</a>, or if you simply have a theme in mind or just don't know what you want, we can have a chat and I'll suggest some designs to ensure you get your perfect cake.</p>

    <p>If you're looking for something different or as an addition to the main anniversary cake,  cupcakes are a great choice. If some of your party have dietary requirements, cupcakes are a good way to cater for them separately. Cupcakes can also make a special anniversary gift and can be presented in a gift box finished with ribbon and a bow.</p>

    <p>Anniversary cakes and cupcakes can be finished in either buttercream or fondant and you can choose from an extensive list of sponge flavours.</p>

    <p>Decorative choices include chocolate or coloured drips, fondant or real flowers, fondant models, airbrushing, edible images and balloons.</p>
{% endblock %}