{% set page = "anniversary" %}
{% extends "layout.njk" %}

{% block main %}

    <section class="intro">
        <div class="intro-text">
            <p>Celebrate your anniversary with one of my bespoke cakes. Whether you're marking one year or fifty, my anniversary cakes are the perfect way to honour your journey together and create cherished memories for years to come.</p>
        </div>
    </section>

    {% from "macros/half-image-section.njk" import halfImageSection with context %}
    {{ halfImageSection(
        'Anniversary cakes',
        [
            "From classic elegance to modern designs, my beautifully crafted anniversary cakes are the perfect centrepiece for commemorating your special milestone."
        ],
        "/products/celebration-cakes",
        "See celebration cakes",
        "portfolio/Diamond-Toast.jpg",
        "Anniversary celebration cake",
        tall = true
    ) }}

    {{ halfImageSection(
        'Anniversary cupcakes',
        [
            "Celebrate your anniversary with my irresistible cupcakes, tailor-made for your special milestone. Let my cupcakes be the perfect accompaniment to your memorable celebration."
        ],
        "/products/cupcakes",
        "See cupcakes",
        "portfolio/Golden-50th.jpg",
        "Anniversary cupcakes",
        tall = true,
        inverse = true,
        background = '#fff'
    ) }}
{% endblock %}