{% set page = "birthday" %}
{% extends "layout.njk" %}

{% block main %}

    <section class="intro">
        <div class="intro-text">
            <p>Every birthday deserves a celebration, and what better way to mark the occasion than with a custom birthday cake or cupcakes.  Whether you're turning six or sixty, my birthday cakes add that extra special touch to make your day truly unforgettable.</p>
        </div>
    </section>

    {% from "macros/half-image-section.njk" import halfImageSection with context %}
    {{ halfImageSection(
        'Birthday cakes',
        [
            "Birthdays are all about celebrating individuality, and my custom celebration cakes are designed to do just that. Whether you prefer a classic or themed design, or something that reflects the unique personality of the recipient, I've got you covered. Plus, with my commitment to delicious taste, every bite is sure to be as memorable as the celebration itself."
        ],
        "/products/celebration-cakes",
        "See celebration cakes",
        "portfolio/fault-line-pink-roses.jpg",
        "Birthday cake",
        tall = true
    ) }}

    {{ halfImageSection(
        'Birthday cupcakes',
        [
            "Get ready to add a sprinkle of happiness to your birthday bash with my scrumptious birthday cupcakes!  From classic favourites to creative themes, my birthday cupcakes are baked with love and sure to make your special day even more memorable."
        ],
        "/products/cupcakes",
        "See cupcakes",
        "portfolio/golden-50th.jpg",
        "Birthday cupcakes",
        tall = true,
        inverse = true,
        background = '#fff'
    ) }}

    {% from "macros/picture.njk" import pictureElement with context %}
    
    <div class="product-types" >
        {% from "macros/fixed-background.njk" import fixedBackground with context %}
        {{ fixedBackground("backgrounds/marble-background.jpg", "Marble background image") }}

        <h2>Some inspiration...</h2>
        <p>To give you some ideas, here are some of the sorts of birthday cakes you can order. Feel free to come up with your own though!<p>

        {% for product in pages[page].products %}
            <section class="product">
                <div class="product-text">
                    <div class="product-sticky-text card {{  'card-pink' if loop.index0 % 2 == 0 else 'card-black' }}">
                        <div class="card-inner">
                            <h3>{{ product.name }}</h3>
                            <p>{{ product.description }}</p>
                        </div>
                    </div>
                </div>
                <div class="product-images">
                    {% for cake in product.examples %}
                        <div
                            {% if portfolio[cake].videos[0] %}
                                class="product-video"
                                style="aspect-ratio:{{ portfolio[cake].videos[0].aspectRatio }};"
                            {% endif %}
                        >
                            {{ pictureElement("portfolio/" + portfolio[cake].images[0].src, portfolio[cake].name, "50vw") }}

                            {% if portfolio[cake].videos[0] %}
                                <video
                                    src="/videos/portfolio/{{ portfolio[cake].videos[0].file }}"
                                    loop
                                    autoplay
                                    playsinline
                                    muted
                                />
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </section>
        {% endfor %}
    </div>
{% endblock %}