{% set page = "christmas" %}
{% extends "layout.njk" %}

{% block head %}
<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/tsparticles-preset-snow@2/tsparticles.preset.snow.bundle.min.js"></script>
{% endblock %}

{% block main %}

    <section class="intro">
        <div class="intro-inner">
            <p>'Tis the season to treat yourself and loved ones! Explore my festive Christmas Collection, ideal for family gatherings, gifts and stocking fillers, available for collection in the lead up to Christmas. Don't see exactly what you're looking for? Just let me know and I'll give you a customised quote. Make this Christmas extra special with Cakes by Katie.</p>
        
            <div class="cta">
                <h3>Ready to make your Christmas special?</h3>
                <a
                    class="button"
                    href="/#contact"
                >
                    Contact me
                </a>
            </div>
        </div>
    </section>

    {% from "macros/picture.njk" import pictureElement with context %}

    {% macro priceLabelSvg() %}
    <svg version="1.1" width="100%" height="100%" viewBox="-126 -126 252 252" xmlns="http://www.w3.org/2000/svg">
        <path
            d="m7.654e-15 -125 21.948 14.662 25.888-5.1466 14.666 21.945 25.887 5.152 5.152 25.887 21.945 14.666-5.1466 25.888 14.662 21.948-14.662 21.948 5.1466 25.888-21.945 14.666-5.152 25.887-25.887 5.152-14.666 21.945-25.888-5.1466-21.948 14.662-21.948-14.662-25.888 5.1466-14.666-21.945-25.887-5.152-5.152-25.887-21.945-14.666 5.1466-25.888-14.662-21.948 14.662-21.948-5.1466-25.888 21.945-14.666 5.152-25.887 25.887-5.152 14.666-21.945 25.888 5.1466z" 
            fill="#fb0" 
            stroke="#e4a91a"
        />
    </svg>
    {% endmacro %}

    <section class="products">

        <div id="snow-particles"></div>

        <h2>The Christmas Collection</h2>

        <div class="product-outer-container">
            <div class="product-inner-container">
                <div class="product-contents">
                    <div class="product-text">
                        <h3>Ruby &amp; Roxy</h3>
                        <p>Ruby is a chocolate reindeer - chocolate sponge filled with and finished in chocolate buttercream.</p>
                        <p>Roxy is a vanilla reindeer - vanilla sponge filled with strawberry jam and buttercream and finished in buttercream.</p>
                        <p>Available in two sizes: 5" (8-11 portions) and 6" (10-14 portions).
                    </div>
                    <div class="product-image">
                        {{ pictureElement("christmas/reindeer-cakes.jpg", "Vanilla and chocolate reindeer cakes", "400px") }}
                    </div>
                    
                    <div class="price-labels">
                        <div style="gap:3px;">
                            {{ priceLabelSvg() }}
                            <span>5"</span>
                            <span class="price">£47</span>
                            <span>each</span>
                        </div>
                        <div style="gap:3px;">
                            {{ priceLabelSvg() }}
                            <span>6"</span>
                            <span class="price">£52</span>
                            <span>each</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-outer-container">
            <div class="product-inner-container">
                <div class="product-contents">
                    <div class="product-text">
                        <h3>Christmas Cupcake Box</h3>
                        <p>Designs include:</p>
                        <ul>
                            <li>Santa coat</li>
                            <li>Reindeer face</li>
                            <li>Present</li>
                            <li>Christmas tree</li>
                            <li>'Merry Christmas' plaque</li>
                            <li>Snowflake</li>
                        </ul>
                        <p>Available in either vanilla or chocolate sponge.</p>
                    </div>
                    <div class="product-image">
                        {{ pictureElement("christmas/cupcake-box.jpg", "Cupcake box", "400px") }}
                    </div>
                    <div class="price-labels">
                        <div>
                            {{ priceLabelSvg() }}
                            <span>Box of 6</span>
                            <span class="price">£17</span>
                        </div>
                        <div>
                            {{ priceLabelSvg() }}
                            <span>Box of 12</span>
                            <span class="price">£28</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-outer-container">
            <div class="product-inner-container">
                <div class="product-contents">
                    <div class="product-text">
                        <h3>The Chocolate Box</h3>
                        <p>All cupcakes are chocolate sponge and topped with either:</p>
                        <ul>
                            <li>Chocolate buttercream with a white chocolate drizzle and Christmas character</li>
                            <li>Chocolate orange buttercream with mini segments</li>
                            <li>Chocolate mint buttercream with mint reindeer</li>
                        </ul>                    
                    </div>
                    <div class="product-image">
                        {{ pictureElement("christmas/chocolate-box.jpg", "Chocolate cupcake box", "400px") }}
                    </div>
                    <div class="price-labels">
                        <div>
                            {{ priceLabelSvg() }}
                            <span>Box of 6</span>
                            <span class="price">£15</span>
                        </div>
                        <div>
                            {{ priceLabelSvg() }}
                            <span>Box of 12</span>
                            <span class="price">£24</span>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>

        <div class="product-outer-container">
            <div class="product-inner-container">
                <h3>Hot Chocolate Bombes</h3>
                <div class="product-contents">
                    <div class="product-text">
                        <p>Belgium milk chocolate shell finished with a Belgium white chocolate drizzle and filled with Cadbury hot chocolate powder and marshmallows.</p>
                    </div>
                    <div class="product-image">
                        {{ pictureElement("christmas/hot-chocolate-bombes.jpg", "Three hot chocolate bombes", "400px") }}
                    </div>
                    <div class="price-labels">
                        <div>
                            {{ priceLabelSvg() }}
                            <span>Each</span>
                            <span class="price">£3.50</span>
                        </div>
                        <div>
                            {{ priceLabelSvg() }}
                            <span>4 for</span>
                            <span class="price">£12</span>
                        </div>
                    </div>
                </div>
                <div class="product-contents">
                    <div class="product-text">
                        <p>Thinking of giving these as a gift? Why not buy my gift wrapped version?</p>
                        <p>This is a hot chocolate bombe on a bed of marshmallows in a clear gift box, finished with either pale pink ribbon, red ribbon or red and gold curling ribbon.</p>
                    </div>
                    <div class="product-image">
                        {{ pictureElement("christmas/hot-chocolate-bombe-wrapped.jpg", "Hot chocolate bombe with gift wrapping", "400px") }}
                    </div>
                    <div class="price-labels">
                        <div>
                            {{ priceLabelSvg() }}
                            <span>Each</span>
                            <span class="price">£4.50</span>
                        </div>
                        <div>
                            {{ priceLabelSvg() }}
                            <span>3 for</span>
                            <span class="price">£12</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-outer-container">
            <div class="product-inner-container">
                <div class="product-contents">
                    <div class="product-text">
                        <h3>Cake Jars</h3>
                        <p>Each jar comes beautifully packaged and even with a spoon so you can tuck right in.</p>
                        <p>Flavours:</p>
                        <ul>
                            <li>Vanilla</li>
                            <li>Lemon</li>
                            <li>Chocolate</li>
                            <li>Chocolate orange</li>
                            <li>Chocolate mint</li>
                        </ul>
                    </div>
                    <div class="product-image">
                        {{ pictureElement("christmas/cake-jar.jpg", "Cake jar", "400px") }}
                    </div>
                    <div class="price-labels">
                        <div>
                            {{ priceLabelSvg() }}
                            <span>Each</span>
                            <span class="price">£4.50</span>
                        </div>
                        <div>
                            {{ priceLabelSvg() }}
                            <span>4 for</span>
                            <span class="price">£16</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-outer-container">
            <div class="product-inner-container">
                <div class="product-contents">
                    <div class="product-text">
                        <h3>Snowflake Cookies</h3>
                        <p>Pack of 2 vanilla snowflake cookies decorated with a fondant base, royal icing detail and sprinkles.</p>
                    </div>
                    <div class="product-image">
                        {{ pictureElement("christmas/snowflake-cookies.jpg", "Snowflake cookies", "400px") }}
                    </div>
                    <div class="price-labels">
                        <div>
                            {{ priceLabelSvg() }}
                            <span>Each</span>
                            <span class="price">£2.50</span>
                        </div>
                        <div>
                            {{ priceLabelSvg() }}
                            <span>3 for</span>
                            <span class="price">£6</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-outer-container">
            <div class="product-inner-container">
                <div class="product-contents">
                    <div class="product-text">
                        <h3>Star Cookie Bag</h3>
                        <p>A cookie bag containing 10 vanilla star cookies - perfect for dunking in your drink or eating on their own.</p>
                    </div>
                    <div class="product-image">
                        {{ pictureElement("christmas/star-cookies.jpg", "Star cookies", "400px") }}
                    </div>
                    <div class="price-labels">
                        <div>
                            {{ priceLabelSvg() }}
                            <span>Each</span>
                            <span class="price">£2</span>
                        </div>
                        <div>
                            {{ priceLabelSvg() }}
                            <span>3 for</span>
                            <span class="price">£5</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-outer-container">
            <div class="product-inner-container">
                <div class="product-contents product-no-image">
                    <div class="product-text">
                        <h3>Christmas Hamper</h3>
                        <p>Like it all? Why not treat someone to my Christmas Hamper, containing:</p>
                        <ul>
                            <li>Box of 6 cupcakes, either Christmas Cupcake Box or The Chocolate Box</li>
                            <li>2 Hot Chocolate Bombes</li>
                            <li>2 Cake Jars of your choice</li>
                            <li>2 bags of Snowflake Cookies</li>
                            <li>2 Star Cookie Bags</li>
                        </ul> 
                    </div>
                    
                    <div class="price-labels">
                        <div>
                            {{ priceLabelSvg() }}
                            <span class="price">£40</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="deals">
            <h3>Deals</h3>
            <div class="deal-row">
                <span>3</span>
                <div class="deal-product">
                    <div class="deal-product-image">
                        {{ pictureElement("christmas/hot-chocolate-bombes.jpg", "Three hot chocolate bombes", "120px") }}
                    </div>
                    <span class="deal-product-name">
                        Hot Chocolate Bombes
                    </span>
                </div>
                <span>+</span>
                <div class="deal-product">
                    <div class="deal-product-image">
                        {{ pictureElement("christmas/star-cookies.jpg", "Star cookies", "120px") }}
                    </div>
                    <span class="deal-product-name">
                        Star Cookie Bag
                    </span>
                </div>
                <span>=</span>
                <span>£11</span>
            </div>
        </div>
        <p style="margin: 20px 0 0;"><small>Gluten free and dairy free sponge options are available but these may incur an additional cost.</small></p>
    </section>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/js/snow.js" defer></script>
{% endblock %}