{% set page = "christeningAndBabyShower" %}
{% extends "occasion.njk" %}

{% block text %}
    <p>You can either send me your own design, choose a cake from <a href="/portfolio">my portfolio</a>, or if you simply have a theme in mind or just don't know what you want, we can have a chat and I'll suggest some designs to ensure you get your perfect cake.</p>

    <p>Christening, baby shower and gender reveal cakes can be finished in either buttercream or fondant and you can choose from an extensive list of <a href="/flavours">sponge flavours</a>.</p>

    <p>Decorative choices include fondant or real flowers, fondant models, chocolate or coloured drips, airbrushing and edible images.</p>
{% endblock %}