{% set page = "christmas" %}
{% extends "occasion.njk" %}

{% block text %}
    <p>My Christmas range includes a reindeer cake and Christmas cupcakes, but if you have a particular design in mind or would like something different, please let me know.</p>

    <p>Christmas cakes and cupcakes can be finished in either buttercream or fondant and you can choose from an extensive list of <a href="/flavours">sponge flavours</a>.</p>

    <p>Decorative choices include chocolate or coloured drips, fondant or real flowers, fondant models, airbrushing and edible images.</p>
{% endblock %}