{% set page = "corporate" %}
{% extends "occasion.njk" %}

{% block text %}
    <p>Whatever the company event, be it an exhibition, corporate anniversary, promotional event or party, I can make cakes and cupcakes tailored to your company's brand.</p>

    <p>Cakes and cupcakes can be finished in either buttercream or fondant and you can choose from an extensive list of <a href="/flavours">sponge flavours</a>. I also cater for certain dietary requirements such as gluten and dairy free.</p>

    <p>Edible images are a great way to advertise your brand.  All I need is a high resolution image.</p>
{% endblock %}