{% set page = "easter" %}
{% extends "occasion.njk" %}

{% block text %}
    <p>An Easter cake or a box of Easter cupcakes give an extra treat in addition to or instead of traditional Easter eggs. You can choose from an extensive list of sponge flavours, including chocolate of course, and for something extra special, a pinata cake can be filled with mini eggs (or other sweet delights) that cascade out of the cake upon cutting.</p>
{% endblock %}