{% set page = "occasions" %}
{% extends "layout.njk" %}

{% block main %}

    <section class="intro">
        <div class="intro-inner">
            <p>Whatever the occasion, I can design and make your celebration cake, be it for a birthday, wedding, anniversary, corporate event, christening, baby shower, Easter, Christmas...etc.</p>

            <p>If you have a design in mind, that's great, or you can choose a cake from my portfolio or let me design the cake for you.</p>

            <p>Cakes can be finished in either buttercream or fondant and you can choose from an extensive list of <a href="/flavours">sponge flavours</a>. I can also cater for certain dietary requirements like dairy and gluten free.</p>

            <p>Decorative choices include chocolate or coloured drips, fondant or real flowers, fondant models, airbrushing, edible images and balloons.</p>
        
            <div class="cta">
                <h3>Ready to make your occasion special?</h3>
                <a
                    class="button"
                    href="/#contact"
                >
                    Contact me
                </a>
            </div>
        </div>
    </section>

    {% from "macros/picture.njk" import pictureElement with context %}
    
    <section class="occasion-links" >
        {% from "macros/fixed-background.njk" import fixedBackground with context %}
        {{ fixedBackground("marble-background.jpg", "Marble background image") }}

        <h2>What's your occasion?</h2>
        <p>I can cater for all occasions, but here are some of the most common...<p>
        
        {% from "macros/picture.njk" import pictureElement with context %}

        

        
        <div class="links-container">
            
            {% for occasion in [
                {
                    page: 'birthday',
                    title: 'Birthday',
                    imageSrc: 'parker-penguin.png',
                    imageAlt: 'Parker penguin birthday cake',
                    colour: '#ace7ff'
                },
                {
                    page: 'wedding',
                    title: 'Wedding',
                    imageSrc: 'wedding.png',
                    imageAlt: 'Wedding cake',
                    colour: '#c5a3ff'
                },
                {
                    page: 'anniversary',
                    title: 'Anniversary',
                    imageSrc: 'anniversary-cake.png',
                    imageAlt: 'Anniversary cake',
                    colour: '#f8df81'
                },
                {
                    page: 'christening-and-baby-shower',
                    title: 'Christening',
                    imageSrc: 'christening-cake.png',
                    imageAlt: 'Christening cake',
                    colour: '#fca669'
                },
                {
                    page: 'corporate',
                    title: 'Corporate',
                    imageSrc: 'corporate-cupcakes.png',
                    imageAlt: 'Corporate cupcakes',
                    colour: '#85ca5d'
                },
                {
                    page: 'valentines',
                    title: "Valentine's",
                    imageSrc: 'valentines-cake.png',
                    imageAlt: "Valentine's cake",
                    colour: '#ffb3c6'
                },
                {
                    page: 'easter',
                    title: 'Easter',
                    imageSrc: 'easter-cake.png',
                    imageAlt: 'Easter cake',
                    colour: '#6eb5ff'
                },
                {
                    page: 'christmas',
                    title: 'Christmas',
                    imageSrc: 'ruby-reindeer.png',
                    imageAlt: 'Christmas cake',
                    colour: '#ffabab'
                },
                {
                    page: 'afternoon-tea',
                    title: 'Afternoon tea',
                    imageSrc: 'ferrero-rocher-cake.png',
                    imageAlt: 'Afternoon tea cake',
                    colour: '#eec9df'
                }
            ] %}
                <a href="/occasions/{{ occasion.page }}" style="background:{{ occasion.colour }}">
                    <div class="occasion-inner">
                        <h3>{{ occasion.title }}</h3>
                        {{ pictureElement("cake-cutouts/" ~ occasion.imageSrc, occasion.imageAlt, "200px") }}
                    </div>
                </a>
            {% endfor %}
        </div>

    </section>


{% endblock %}