{% set page = "valentines" %}
{% extends "occasion.njk" %}

{% block text %}
    <p>Valentine's cakes can be finished in either buttercream or fondant and you can choose from an extensive list of sponge flavours.</p>

    <p>Decorative choices include chocolate or coloured drips, fondant or real flowers, fondant models, airbrushing, edible image and balloons.</p>

    <p>And for something different, there's my cupcake bouquet.</p>
{% endblock %}