{% set page = "valentines" %}
{% extends "layout.njk" %}

{% block main %}

    <section class="intro">
        <div class="intro-text">
            <p>Make this Valentine's Day extra special with my handcrafted cakes, designed to capture the essence of romance and love. Each cake is a delicious expression of affection, perfect for sharing with your loved one or surprising them with a romantic gesture.</p>
        </div>
    </section>

    {% from "macros/half-image-section.njk" import halfImageSection with context %}
    {{ halfImageSection(
        "Valentine's Day cakes",
        [
            "Indulge in a taste of romance and let my cakes be the centrepiece of your Valentine's Day celebration."
        ],
        "/products/celebration-cakes",
        "See celebration cakes",
        "portfolio/A-Touch-of-Pink-space.jpg",
        "Valentine's Day celebration cake",
        tall = true
    ) }}

    {{ halfImageSection(
        "Valentine's Day cupcakes",
        [
            "My cupcakes are the perfect way to show someone you care. With romantic decorations and irresistible flavours, my Valentine's Day cupcakes are sure to steal hearts."
        ],
        "/products/cupcakes",
        "See cupcakes",
        "portfolio/Be-My-Valentine-Pattern-space.jpg",
        "Valentine's Day cupcakes",
        tall = true,
        inverse = true,
        background = '#fff'
    ) }}
{% endblock %}