{% set page = "wedding" %}
{% extends "layout.njk" %}

{% block main %}

    <section class="intro">

        <div class="intro-text">
            <p>Congratulations! It's always an honour to be entrusted to make a wedding cake, and I look forward to working with you to deliver the perfect cake for your special day.</p>
            <p>I also offer wedding favours, including cake jars and fondant covered cookies.</p>
        </div>

    </section>

    {% from "macros/half-image-section.njk" import halfImageSection with context %}
    {{ halfImageSection(
        'Wedding cakes',
        [
            "All of my wedding cakes are meticulously crafted to reflect your unique style and taste, creating a centrepiece that not only looks amazing but tastes delicious too!"
        ],
        "/products/wedding-cakes",
        "See wedding cakes",
        "portfolio/Charlotte.jpg",
        "Wedding cake",
        tall = true
    ) }}

    {{ halfImageSection(
        'Wedding favours',
        [
            "My wedding favours are lovingly crafted to delight your guests and include cake jars, sugar cookies and cakesicles. They are the perfect gesture to thank your guests for sharing in your special day."
        ],
        "/products/wedding-favours",
        "See wedding favours",
        "wedding-favours/cake-jar-wide.jpg",
        "Cake Jar wedding favour",
        tall = true,
        inverse = true,
        background = '#fff'
    ) }}

    {% include "featured-in.njk" %}

{% endblock %}