{% set page = "weddings" %}
{% extends "layout.njk" %}

{% block main %}
    <div class="text">
        {% from "macros/picture.njk" import pictureElement with context %}
        {{ pictureElement("portfolio/Kirsten.jpg", "Example wedding cake", "50vw") }}

        <P>We will work together to create your perfect wedding cake. If you have a specific design in mind that's great, otherwise...</p>

        <p>Wedding cakes can be finished in either buttercream (fully covered, semi-naked or somewhere inbetween) or fondant and you can choose from an extensive list of sponge flavours.  Flavour samples are available free of charge to help you choose.</p>

        <p>If you choose to have fresh flowers on your wedding cake, I will speak to the florist to deal with timings on the day.</p>

        <p>Wedding cakes will be delivered and set up at your venue on your special day.  I will liaise with the venue to arrange delivery.</p>
    </div>

    <div class="cta">
        <h3>Ready to order a wedding cake?</h3>
        <a
            class="button"
            href="/#contact"
        >
            Contact me
        </a>
    </div>
{% endblock %}