{% set page = "wedding" %}
{% extends "layout.njk" %}

{% block main %}

    <section class="intro">

        <div class="intro-text">
            <p>Introductory paragraph about our wedding services here. Start by congratulating the engaged couple. Talk about offering both wedding cakes and wedding favours. Maybe talk about the process. Maybe sound understanding about how stressful organising a wedding can be and how you can help.</p>
        </div>

    </section>

    {% from "macros/half-image-section-large.njk" import halfImageSectionLarge with context %}
    {{ halfImageSectionLarge(
        'Wedding cakes',
        [
            "Paragraph about wedding cakes."
        ],
        "/products/wedding-cakes",
        "See wedding cakes",
        "portfolio/Charlotte.jpg",
        "Wedding cake",
        tall = true,
        background = '#fff6f2'
    ) }}

    {{ halfImageSectionLarge(
        'Wedding favours',
        [
            "Paragraph about wedding favours."
        ],
        "/products/wedding-favours",
        "See wedding favours",
        "wedding-favours/cookie-personal.jpg",
        "Example wedding favour",
        tall = true,
        inverse = true
    ) }}

{% endblock %}