{% macro imageCarouselScripts() %}
{# Swiper is now included in layout.njk #}
<script type="text/javascript" src="/js/portfolioUtils.js"></script>
<script type="text/javascript" src="/js/imageSlideshow.js" defer></script>
{% endmacro %}