{% set page = "about" %}
{% extends "layout.njk" %}

{% block main %}

    <div class="about-container">

        {% from "macros/picture.njk" import pictureElement with context %}
        {{ pictureElement("katie2.jpg", "Katie", "min(80vw, 350px)") }}

        <h2>Hi, I'm Katie...</h2>

        <p>Thank you for visiting my website. I'm a cake maker based in Thatcham, near Newbury and Reading, West Berkshire.</p>

        <p>I love making and decorating cakes. I set up my own business in 2022, having worked for a celebration cake company for two years after leaving school, where I honed and perfected my skills.</p>

        <p>I make cakes and cupcakes for all occasions and would love to work with you to create your perfect cake(s). I offer a wide range of flavours and also cater for certain dietary requirements such as gluten and dairy free, eggless and vegan.</p>

        <p>Cupcakes also make the perfect gift and are presented in an elegant gift box.</p>

        <p>I was very pleased to be featured in Weddings &amp; Honeymoons magazine as the best cake maker in Berkshire and I was very honoured to be a finalist in the 'Rising Star' category of the 2024 UKWHA awards.
    </div>

{% endblock %}