{% set page = "flavours" %}
{% extends "layout.njk" %}

{% block main %}

    <div class="flavours-text">
        <p>I offer a wide range of flavours that can be used in both celebration cakes and cupcakes. I also cater for the following dietary requirements: gluten free, dairy free, vegan and eggless.</p> 
    </div>
    <div class="flavours-menu-section">
        <div class="flavours-menu-container">

            {% from "macros/fixed-background.njk" import fixedBackground with context %}
            {{ fixedBackground("backgrounds/marble-background.jpg", "Marble background image") }}

            <div class="flavours-menu">

                <div class="dietary-filters">
                    {% set diets = [
                        {
                            "value": "gluten-free",
                            "label": "Gluten free"
                        },                            
                        {
                            "value": "dairy-free",
                            "label": "Dairy free"
                        },
                        {
                            "value": "vegan",
                            "label": "Vegan"
                        },
                        {
                            "value": "eggless",
                            "label": "Eggless"
                        },
                        {
                            "value": "nut-free",
                            "label": "Nut free"
                        },
                        {
                            "value": "soya-free",
                            "label": "Soya free"
                        }
                    ] %}
                    {% for diet in diets %}
                        <label>
                            <input type="checkbox" id="{{ diet.value }}-checkbox" name="{{ diet.value }}-checkbox" value="{{ diet.value }}">
                            <span>
                                {{ diet.label }}
                            </span>
                        </label>
                    {% endfor %}
                </div>
                
                {% from "macros/picture.njk" import pictureElement with context %}

                <div class="flavours-groups-container">
                    {% for key, group in flavourGroups %}
                        <div class="flavour-group" data-group="{{ key }}" style="background:{{ group.colour }};">
                            <h2>{{ group.name }}</h2>
                            <div class="flavours-list">
                                {% for flavourKey in group.flavours %}
                                    <div class="flavour flavour-valid">

                                        {% set flavour = flavours[flavourKey] %}

                                        {% for variant in flavour.variants %}
                                            <div class="variant variant-valid" data-diets="{{ variant.diets | join(";") }}">
                                                <div class="image-container">
                                                    {{ pictureElement(variant.image, flavour.name, "150px") }}
                                                </div>

                                                <h3>{{flavour.name}}</h3>
                                                
                                                <p>{{variant.description}}</p>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                
                {# <div class="allergen-info">
                    <p><small>Allergen information</small></p>
                    <p class="flavour standard"><small>All cakes contain: Gluten, Eggs, Dairy and may contain traces of Nuts and Soya.</small></p>
                    <p class="flavour gluten-free"><small>All cakes contain: Eggs, Dairy and may contain traces of Nuts and Soya.</small></p>
                    <p class="flavour dairy-free"><small>All cakes contain: Gluten, Eggs and may contain traces of Nuts and Soya.</small></p>
                    <p class="flavour vegan"><small>All cakes contain: Gluten and may contain traces of Nuts and Soya.</small></p>
                    <p class="flavour eggless"><small>All cakes contain: Gluten, Dairy and may contain traces of Nuts and Soya.</small></p>
                    {% for flavour in flavours %}
                        {% if flavour.allergenInfo %}
                            <p class="flavour standard{{ " " ~ (flavour.variants | join(" ")) if flavour.variants }}"><small>{{flavour.allergenInfo}}</small></p>
                        {% endif %}
                    {% endfor %}
                </div> #}
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="js/flavours.js" defer></script>
{% endblock %}