{% set page = "index" %}
{% extends "layout.njk" %}

{% block head %}
<link
  rel="stylesheet"
  href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
/>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
{% endblock %}

{% from "macros/picture.njk" import pictureElement with context %}

{% block main %}
    <div id="header-video">
        <video autoplay playsinline muted loop>
            <source src="videos/landing.mp4" type="video/mp4">
        </video>

        <div class="header-video-text">
            <span class="main-text">Baking special memories</span>
            {# <span class="main-text">Let's make it memorable</span> #}
            <span class="text-divider"></span>
            <span class="secondary-text">Bespoke cakes and cupcakes</span>
            <a href="#about" class="scroll-down-button">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100%" height="100%" fill="none">
                        <path stroke="currentColor" stroke-width="1.4" d="M12 3v17M19 13l-7 7-7-7"></path>
                    </svg>
                </div>
                <span>SCROLL DOWN</span>
            </a>
        </div>
    </div>
    <section id="about">
            {{ pictureElement("katie.jpg", "Katie", "calc(max(min(40vw, 30vh), 200px))") }}

            <div>
                {# Inner div used to vertically centre content within outer div #}
                <div>
                    <h1>Hi, I'm Katie...</h1>

                    <p>I'm a cake maker based in Thatcham, near Newbury, West Berkshire, specialising in celebration cakes and cupcakes. I offer a wide range of flavours and also cater for certain dietary requirements such as gluten and dairy free.</p>
                    
                    <p>Whatever your occasion, let me help make it special.</p>

                    <a href="/about" style="opacity:0.4;">Read more...</a>
                </div>
                
                <div style="margin-top:40px">
                    <a
                        class="button"
                        href="#contact"
                    >
                        Contact me
                    </a>
                </div>
            </div>
    </section>

    <section id="portfolio">
        <div id="grid">
            {% for item in portfolioSample %}
                {{ pictureElement("portfolio/" + (portfolio[item].squareImage if portfolio[item].squareImage else portfolio[item].images[0].src), portfolio[item].name, "calc(max(min(17vw, 17vh), min(100vw, 600px))") }}
            {% endfor %}
        </div>
        <a class="button" href="/portfolio" >See more of my portfolio</a>
    </section>

    <section id="contact">
        {% from "macros/fixed-background.njk" import fixedBackground with context %}
        {{ fixedBackground("marble-background.jpg", "Marble background image") }}
        <div class="contact-card">
            <div class="contact-card-first-half">
                <div class="contact-card-first-half-inner">
                    <h2>Want to get in touch?</h2>
                </div>
            </div>
            <div class="contact-card-second-half">
                <div class="contact-card-second-half-inner">
                    <h3><i class="far fa-envelope" aria-hidden="true"></i>Email</h3>
                    <a href="mailto:katie@cakesbykatie.co.uk">katie@cakesbykatie.co.uk</a>
                    <h3><i class="fa fa-phone" aria-hidden="true"></i>Phone</h3>
                    <a href="tel:+447436120654" target="_blank">07436120654</a>
                    <h3><i class="fa fa-whatsapp" aria-hidden="true"></i>WhatsApp</h3>
                    <a href="https://wa.me/447436120654" target="_blank">07436120654</a>
                    <h3><i class="fab fa-instagram" aria-hidden="true"></i>Instagram</h3>
                    <a href="https://www.instagram.com/cakesbykatieoc" target="_blank">@cakesbykatieoc</a>
                    <h3><i class="fab fa-facebook" aria-hidden="true"></i>Facebook</h3>
                    <a href="https://www.facebook.com/cakesbykatieoc" target="_blank">@cakesbykatieoc</a>
                </div>
            </div>
        </div>
    </section>

    <section id="testimonials">

        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                {% for cake in featuredTestimonials %}
                    {% set testimonial = portfolio[cake].testimonial %}
                    <div class="swiper-slide">
                        <div class="item">
                            <div
                                class="image"
                                style="--aspect-ratio: {{ portfolio[cake].images[0].aspectRatio }}"
                            >
                                {{ pictureElement("portfolio/" + portfolio[cake].images[0].src, portfolio[cake].name, { '900': '90vw', any: '45vw' }) }}
                            </div>
                            <div class="quote">
                                <blockquote>{{ testimonial.text }}</blockquote>
                                <span>{{ testimonial.name }}, {{ testimonial.location }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <div class="testimonials-link-container">
            <a
                class="button button-white"
                href="/testimonials"
            >
                Read more testimonials
            </a>
        </div>
    </section>
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="js/slideshow.js" defer></script>
{% endblock %}