{% set page = "index" %}
{% extends "layout.njk" %}

{% block head %}
<link
  rel="stylesheet"
  href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
/>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
{% endblock %}

{% from "macros/picture.njk" import pictureElement with context %}

{% block main %}
    <div id="header-video">
        <video autoplay playsinline muted loop>
            <source src="videos/landing.mp4" type="video/mp4">
        </video>
    </div>
    <section id="about">
            {{ pictureElement("katie.jpg", "Katie")}}

            <div>
                {# Inner div used to vertically centre content within outer div #}
                <div>
                    <h1>Hi, I'm Katie...</h1>

                    <p>I'm a cake maker based in Thatcham, West Berkshire. I started baking and decorating cakes as a hobby from a young age with the dream that I could turn my passion into a career. Whatever your occasion let me help make it special.</p>

                    <p>I offer a wide range of flavours, and can cater for certain dietary requirements like dairy and gluten free.</p>
                <div>
            </div>
    </section>

    <section id="portfolio">
        <div id="grid">
            
            {% for item in portfolioSample %}
                {{ pictureElement("portfolio/" + portfolio[item].images[0], portfolio[item].name) }}
            {% endfor %}
        </div>
        <a class="button" href="portfolio.html" >See more</a>
    </section>

    <section id="contact">
        {{ pictureElement("marble-background.jpg", "Marble background image") }}
        <div class="contact-card">
            <div class="contact-card-first-half">
                <div class="contact-card-first-half-inner">
                    <h2>Want to get in touch?</h2>
                </div>
            </div>
            <div class="contact-card-second-half">
                <div class="contact-card-second-half-inner">
                    <h3><i class="far fa-envelope" aria-hidden="true"></i>Email</h3>
                    <a href="mailto:katie@cakesbykatie.co.uk">katie@cakesbykatie.co.uk</a>
                    <h3><i class="fab fa-instagram" aria-hidden="true"></i>Instagram</h3>
                    <a href="https://www.instagram.com/cakesbykatieoc" target="_blank">@cakesbykatieoc</a>
                    <h3><i class="fab fa-facebook" aria-hidden="true"></i>Facebook</h3>
                    <a href="https://www.facebook.com/cakesbykatieoc" target="_blank">@cakesbykatieoc</a>
                </div>
            </div>
        </div>
    </section>

    <section id="testimonials">

        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                {% for testimonial in testimonials %}
                    <div class="swiper-slide">
                        <div class="item">
                            {% set aspectRatio = mediaSizes[portfolio[testimonial.cake].images[0]].width / mediaSizes[portfolio[testimonial.cake].images[0]].height %}
                            <div
                                class="image {{ "landscape" if aspectRatio > 1 else "portrait" }}"
                                style="--aspect-ratio: {{ aspectRatio }}"
                                {# {% if aspectRatio > 1 %}
                                    style="aspect-ratio: {{ aspectRatio }};"
                                {% endif %} #}
                            >
                                {{ pictureElement("portfolio/" + portfolio[testimonial.cake].images[0], portfolio[testimonial.cake].name) }}
                            </div>
                            <div class="quote">
                                <blockquote>{{ testimonial.text }}</blockquote>
                                <span>{{ testimonial.name }}, {{ testimonial.location }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </section>
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="js/slideshow.js" defer></script>
{% endblock %}