{% set page = "portfolio" %}
{% extends "layout.njk" %}

{% block head %}
{% endblock %}

{% from "macros/picture.njk" import pictureElement with context %}

{% block main %}

    {% from "macros/page-title.njk" import pageTitle with context %}
    {{ pageTitle("Portfolio") }}

    {# Grid of images #}
    <div class="portfolio-grid-container">
        <div class="portfolio-grid">
            {% for key, item in portfolio %}
                <button
                    class="grid-item"
                    style="aspect-ratio: {{ mediaSizes[item.images[0]].width / mediaSizes[item.images[0]].height }};"
                    data-name="{{ item.name }}"
                    data-images="{{ item.images }}"
                    data-description="{{ item.description }}"
                    {% if item.videos %}
                        data-videos="{{ item.videos | stringifyElements | join(';') }}"
                    {% endif %}
                    {% if item.testimonial %}
                        data-testimonial-quote="{{ item.testimonial.text }}"
                        data-testimonial-customer="{{ item.testimonial.name }}"
                        data-testimonial-location="{{ item.testimonial.location }}"
                    {% endif %}
                >
                    {{ pictureElement("portfolio/" + item.images[0], item.name) }}
                </button>
            {% endfor %}
        </div>
    </div>

    {# Modal #}
    <div id="portfolio-modal">
        <button id="modal-close">Close</button>
        <div class="container">
            <div class="text">
                <h1 id="title"></h1>
                <p id="description"></p>
                <div id="testimonial">
                    <blockquote></blockquote>
                    <span></span>
                </div>
            </div>
            <div class="images">
                <div id="selected-image"></div>
                <div id="thumbs"></div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="js/portfolioGrid.js"></script>
    <script type="text/javascript" src="js/portfolioModal.js" defer></script>
{% endblock %}