{% set page = "pricing" %}
{% extends "layout.njk" %}

{% block main %}

    <div class="intro-text">
        <p>The final price depends on sponge flavour, sponge size and shape, the finish and decoration.</p> 
    </div>
    <div class="pricing-section">
        
        {% from "macros/fixed-background.njk" import fixedBackground with context %}
        {{ fixedBackground("marble-background.jpg", "Marble background image") }}
        
        <div id="celebration-cakes" class="price-group">
            <h2>Celebration cakes</h2>
            <p>Starting base prices (ie no decoration) are as follows:</p>
            <table>
                <tr>
                    <th>Size in inches</th>
                    <th>Round</th>
                    <th>Square</th>
                </tr>
                {% for size, roundPrice in pricing.celebrationCakes.round %}
                    <tr>    
                        <td>{{size}}</td>
                        <td>£{{roundPrice}}</td>
                        <td>£{{pricing.celebrationCakes.square[size]}}</td>
                    </tr>
                {% endfor %}
            </table>
            <p>Tiered cakes will incur an additional cost starting at £8 per tier to cover the support structure.</p>
        </div>

        <div id="wedding-cakes" class="price-group">
            <h2>Wedding cakes</h2>
            <p>Starting prices are as follows:</p>
            <ul>
                <li>2 tier - starts from £190</li>
                <li>3 tier - starts from £225</li>
                <li>4 tier - starts from £310</li>
            </ul>
            <p>For larger cakes, please contact me.</p>
            <p>Buttercream and semi-naked wedding cakes need to be set up at the venue. This incurs a £20 charge.</p>
            <p>All wedding cakes incur a delivery charge.</p>
        </div>

        <div id="cupcakes" class="price-group">
            <h2>Cupcakes</h2>
            <p>Cupcakes start from £2 each.</p>
            <p>They come in white paper cases as standard. If required, this can be changed for an additional cost to match the celebration theme.</p>
            <p>Gift options:</p>
            <ul>
                <li>Ribbon and bow - starts from £2</li>
                <li>Candle - starts from 50p</li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="js/flavourTabs.js" defer></script>
{% endblock %}