{% set page = "terms" %}
{% extends "layout.njk" %}

{% block main %}

    <div class="terms">

        <p>Welcome to Cakes by Katie. By placing an order with Cakes by Katie (“Cakes by Katie” or “We”), you (the “Customer" or “You”) agree to the following Terms and Conditions. Please read them carefully.</p>

        {# <ol>
            <li>
                <h2>Celebration cakes</h2>
                <ol>
                    <li>
                        <h3>Agreement and Acceptance</h3>
                        <p>These Terms and Conditions apply to all celebration cake and cupcake orders and related services provided by Cakes by Katie.</p>
                    </li>
                    <li>
                        <h3>Ordering</h2>
                        <ul>
                            <li>Orders can be placed via email, phone, text, or social media. All orders are considered confirmed once a deposit or full payment is made.</li>
                            <li>Quotes are valid for 14 days from the date of issue. After this period, a new quote may be required.</li>
                            <li>For short-notice bookings (less than 14 days before the required date), deadline dates will be provided for each stage to ensure that Cakes by Katie has enough time to source everything needed and produce your order. If you miss the payment deadline, we cannot guarantee that we will be able to take on your order.</li>
                            <li>An order confirmation will be sent to you via email, listing all the details of your order, including the design, flavours, size, collection/delivery, and any special requests. It is your responsibility to check the order confirmation carefully. We should be notified of any errors or discrepancies (e.g., misspelled names) prior to paying the deposit. After that, we will not be liable for any errors.</li>
                        </ul>
                    </li>
                </ol>
            </li>
            <li>
                <h2>Wedding cakes</h2>
            </li>
        </ol> #}

        <section>
            <h2>1. Celebration Cakes</h2>

            <h3>1.1. Agreement and Acceptance</h3>
            <p>These Terms and Conditions apply to all celebration cake and cupcake orders and related services provided by Cakes by Katie.</p>

            <h3>1.2. Ordering</h3>
            <ul>
                <li>Orders can be placed via email, phone, text, or social media. All orders are considered confirmed once a deposit or full payment is made.</li>
                <li>Quotes are valid for 14 days from the date of issue. After this period, a new quote may be required.</li>
                <li>For short-notice bookings (less than 14 days before the required date), deadline dates will be provided for each stage to ensure that Cakes by Katie has enough time to source everything needed and produce your order. If you miss the payment deadline, we cannot guarantee that we will be able to take on your order.</li>
                <li>An order confirmation will be sent to you via email, listing all the details of your order, including the design, flavours, size, collection/delivery, and any special requests. It is your responsibility to check the order confirmation carefully. We should be notified of any errors or discrepancies (e.g., misspelled names) prior to paying the deposit. After that, we will not be liable for any errors.</li>
            </ul>

            <h3>1.3. Payments</h3>
            <ul>
                <li>A 50% deposit is required at the time of booking.</li>
                <li>The remaining balance is due 14 days before collection/delivery.</li>
                <li>Payments can be made via bank transfer. Cash or cheque payments can be discussed if required.</li>
                <li>Orders will only be processed or confirmed once the deposit payment has been received.</li>
            </ul>

            <h3>1.4. Order Alterations</h3>
            <ul>
                <li>Once the order is confirmed, any changes to the cake design, flavours, or other details cannot be guaranteed. We will do our best to accommodate requests, but alterations after confirmation cannot be guaranteed.</li>
                <li>If you wish to alter any details of your order after confirmation, a charge may apply. This will be discussed and agreed upon when the alteration request is made.</li>
            </ul>

            <h3>1.5. Allergens and Dietary Requirements</h3>
            <ul>
                <li>You must inform us of any allergies or dietary restrictions at the time of enquiry.</li>
                <li>While we take precautions to avoid cross-contamination, we cannot guarantee that cakes are free from allergens.</li>
                <li>We are happy to accommodate specific dietary needs (e.g., gluten-free, vegan) upon request, but additional charges may apply.</li>
            </ul>

            <h3>1.6. Cake Design and Quality</h3>
            <ul>
                <li>We will do our best to replicate the design and style requested, but minor variations may occur due to the nature of bespoke cake-making.</li>
                <li>We are not responsible for any issues arising from the use of photos or designs that you have given us that violate copyright or intellectual property laws.</li>
            </ul>

            <h3>1.7. Delivery and Collection</h3>
            <ul>
                <li>If you are collecting your cake, please ensure you arrive within the specified collection window. If you miss your collection window, we will aim to reschedule the collection for a time that is suitable for us, but we cannot guarantee that the collection will be possible on the same day or at all, depending on our schedule (e.g., if we are unavailable due to prior commitments or travel).</li>
                <li>Any changes to the pre-agreed collection slot must be requested in writing at least 48 hours before collection and cannot be guaranteed.</li>
                <li>Delivery charges are based on the location.</li>
                <li>You are responsible for ensuring that the delivery address is correct and accessible. If the delivery address is incorrect or inaccessible at the time of delivery, additional charges may apply, and we may need to reschedule the delivery.</li>
                <li>We cannot be held responsible for any damage after the cake has been delivered.</li>
                <li>If no one is available at the delivery address at the agreed time, we will attempt to contact you. If delivery cannot be completed, rescheduling will be at our discretion, and additional charges will apply.</li>
                <li>Someone must be present to accept delivery to ensure the cake is received in optimal condition.</li>
            </ul>

            <h3>1.8. Non-Edible Cake Elements</h3>
            <ul>
                <li>Some cakes may include non-edible elements such as decorations, toppers, or structural supports.</li>
                <li>These elements are for decorative purposes only and should be removed before consumption.</li>
                <li>A list of non-edible elements used in/on the cake will be provided to you at the time of collection/delivery.</li>
                <li>We are not responsible for any harm caused by non-edible elements.</li>
            </ul>

            <h3>1.9. Photography and Marketing</h3>
            <p>We reserve the right to take photographs of the cake for marketing purposes and social media. If you prefer that we do not use images of your cake, please notify us in writing before the event.</p>

            <h3>1.10. Cancellations and Refunds</h3>
            <ul>
                <li>Cancellations must be made in writing via email or messaging service.</li>
                <li>Deposits are non-refundable, but whether a deposit is refunded is at Cakes by Katie's discretion, depending on the circumstances of the cancellation.</li>
                <li>If you’ve paid in full and cancel your order more than 14 days before the collection/delivery date, you may be eligible for a refund of up to 50% of the total payment, excluding the deposit.</li>
                <li>Orders cancelled within 14 days of the collection/delivery date are not eligible for any refund.</li>
                <li>No refunds will be issued for cakes that have been collected or delivered.</li>
                <li>If we are forced to cancel your order due to circumstances beyond our control (e.g., natural disasters, illness, or other unforeseen events), we will provide a full refund to you.</li>
            </ul>

            <h3>1.11. Complaints</h3>
            <ul>
                <li>We strive to provide the best possible service and cake quality. If you are dissatisfied with your order, please contact us as soon as possible.</li>
                <li>Any complaints regarding the cake must be made within 48 hours of collection or delivery. We cannot accept complaints about the cake once it has been consumed or more than 48 hours after receipt.</li>
                <li>If the complaint is regarding the quality, we may ask for the cake or the remainder of the cake to be delivered back to us within 48 hours of delivery so we can assess the situation properly.</li>
                <li>If the complaint is regarding the design of the cake, but the cake was made according to the order confirmation which has been checked and approved, we cannot be held responsible for any errors not picked up by you.</li>
                <li>For any complaints, we can only deal with the person who booked the cake originally.</li>
                <li>Complaints should be made in writing via email or messaging service, providing clear details and any supporting evidence (e.g., photos).</li>
                <li>We will investigate all complaints and aim to resolve them promptly. If a complaint is deemed valid, we will offer a resolution, which may include a partial or full refund or a replacement cake.</li>
                <li>We reserve the right to determine the appropriate resolution and are not liable for any indirect or consequential damages related to the complaint.</li>
            </ul>

            <h3>1.12. Liability</h3>
            <ul>
                <li>Our liability is limited to the cost of the cake. We are not liable for any indirect or consequential damages.</li>
                <li>We are not responsible for any damage to cakes once they have been delivered or collected.</li>
            </ul>

            <h3>1.13. Force Majeure</h3>
            <p>We are not liable for any failure to perform our obligations due to events beyond our control, including but not limited to natural disasters, transportation delays, or other unforeseen circumstances.</p>

        </section>

        <section>
            <h2>2. Wedding Cakes</h2>

            <h3>2.1. Agreement and Acceptance</h3>
            <p>These Terms and Conditions apply to all wedding cake orders and related services provided by Cakes by Katie.</p>

            <h3>2.2. Order Confirmation</h3>
            <ul>
                <li>After your order is placed, Cakes by Katie will send an order confirmation outlining all details of the cake, including design, flavours, delivery, and any special requests.</li>
                <li>Depending on when the details are confirmed, you may receive a preliminary order confirmation before the final confirmation is sent. This preliminary confirmation will include initial details, but it is not final until confirmed by both parties.</li>
                <li>It is your responsibility to review the order confirmation carefully. Any discrepancies or errors must be pointed out to Cakes by Katie prior to the final balance being paid.</li>
                <li>If any issues are not raised before the final balance is paid, Cakes by Katie will not be responsible for making changes, and the cake will be made as per the order confirmation.</li>
            </ul>

            <h3>2.3. Consultation</h3>
            <ul>
                <li>Consultations are available for all booking and enquiring couples upon request. During the consultation, we will discuss your design preferences, cake flavours, and any other specific requests.</li>
                <li>The consultation can be in person (at our location) or over the phone/virtually, depending on your location and preference.</li>
                <li>Multiple consultations are allowed, but a fee may apply for each additional consultation beyond the initial one. This fee will be discussed and agreed upon prior to scheduling any further consultations.</li>
            </ul>

            <h3>2.4. Payment Terms</h3>
            <ul>
                <li>A non-refundable deposit is required upon booking.</li>
                <li>The remaining balance must be paid in full 30 days before the event date.</li>
                <li>Payments are made by bank transfer.</li>
                <li>If full payment is not received by the due date, the order may be cancelled, and the deposit forfeited.</li>
            </ul>

            <h3>2.5. Bespoke Cake Design</h3>
            <ul>
                <li>Bespoke wedding cakes are designed based on your specifications and preferences. A detailed design will be confirmed during the consultation.</li>
                <li>The design can be edited and tweaked up until the final balance is due.</li>
                <li>Any changes made after this point may not be possible, but we will do our best to accommodate any last-minute adjustments.</li>
            </ul>

            <h3>2.6. Cake Flavours and Ingredients</h3>
            <ul>
                <li>A sample bag containing up to 5 flavours of your choice is available to purchase prior to booking.</li>
                <li>Alternatively, this sample bag will be complimentary with each booking. If you purchase a bag first, this will be credited against the deposit payment.</li>
                <li>Custom flavours can be discussed with us, but please note that we cannot guarantee these due to ingredient availability, production limitations, or time constraints.</li>
            </ul>

            <h3>2.7. Decorative Items Supplied by Third Parties</h3>
            <ul>
                <li>If you choose to supply your own decorative items, such as cake toppers, flowers, or other embellishments, these can either be delivered to us the week prior to your wedding or left at the venue for us to use.</li>
                <li>If you choose to leave decorative items at the venue, Cakes by Katie does not take responsibility for them not being placed on the cake if the venue cannot locate them or the decorative items are not available during our set-up.</li>
                <li>If you are ordering bespoke toppers or cake stands, please ensure that measurements are checked with us first to ensure they are suitable for your cake.</li>
                <li>Cakes by Katie can order bespoke items for you, but advance notice is required. Ideally, this should be at least one month before the event, if not more.</li>
            </ul>

            <h3>2.8. Delivery and Set-up</h3>
            <ul>
                <li>The delivery fee will vary depending on the location.</li>
                <li>Cakes by Katie will liaise with the venue to agree on a delivery window for the cake set-up.</li>
                <li>Ideally, the cake will be set up in its final display location at the venue.</li>
                <li>Cakes by Katie does not take responsibility for any damage to the cake if it is moved after set-up during the event. If the cake is moved, Cakes by Katie will not be liable for any damage or alterations to the cake.</li>
                <li>You are responsible for ensuring that the venue has appropriate facilities for cake set-up.</li>
                <li>There is a set-up fee for buttercream/semi-naked cakes and any cakes that require decoration or finishing at the venue. This fee covers the time and labour required for on-site set-up.</li>
                <li>We reserve the right to change the location of the cake at the venue if we feel the original location is unsuitable and may cause damage to the cake (e.g., if the cake table is placed in front of a large glass window on an extremely hot day).</li>
                <li>We reserve the right to decline the use of a cake stand provided by the venue or yourself if it is deemed unsuitable to support the cake's weight. In such cases, we may request an alternative stand or provide one.</li>
            </ul>

            <h3>2.9. Florist Liaison and Flower Arrangements</h3>
            <ul>
                <li>If you wish to have fresh flowers or floral decorations on the cake, Cakes by Katie will liaise directly with your florist regarding the timing of delivery and any special requirements.</li>
                <li>We will arrange any floral decorations on the cake as agreed and ensure proper handling and arrangement of flowers in a safe manner.</li>
                <li>If the florist is delayed and we must leave before their arrival, Cakes by Katie is not responsible for how the flowers are arranged on the cake or whether they are placed in a food-safe manner.</li>
            </ul>

            <h3>2.10. Non-Edible Elements</h3>
            <ul>
                <li>Any non-edible elements on the cake, such as cake toppers, decorative pieces, or other embellishments, will be clearly noted on the order confirmation.</li>
                <li>Cakes by Katie is not responsible for the removal or consumption of these non-edible elements.</li>
                <li>It is your responsibility to ensure that all non-edible elements are removed before serving the cake.</li>
                <li>If any non-edible elements are not removed or are consumed, Cakes by Katie will not be held liable for any issues arising from this.</li>
            </ul>

            <h3>2.11. Cake Preservation</h3>
            <ul>
                <li>Wedding cakes are best enjoyed on the day of the event. If you wish to preserve the top tier for a later occasion, storage instructions will be provided.</li>
                <li>Cakes by Katie is not responsible for any quality issues if the cake is not stored properly after delivery.</li>
            </ul>

             <h3>2.12. Cake Stand Rental</h3>
            <ul>
                <li>The rental fee is due with the final balance payment or immediately if this is agreed upon after the final balance is paid.</li>
                <li>A security deposit of the full stand price is due a week before your wedding. This will be returned to you via bank transfer once the stand is returned in acceptable condition.</li>
                <li>The stand must be returned back to me no later than 4 days after your wedding date unless agreed otherwise.</li>
                <li>The customer is responsible for any damage, loss, or theft of the cake stand during the rental period.</li>
                <li>If the cake stand is returned damaged or not returned at all, the security deposit is forfeited.</li>
            </ul>

            <h3>2.13. Photography and Marketing</h3>
            <p>We reserve the right to take photographs of the cake for marketing purposes and social media. If you prefer that we do not use images of your cake, please notify us in writing before the event.</p>

            <h3>2.14. Cancellations and Refunds</h3>
            <ul>
                <li>Deposits are non-refundable, but whether a deposit is refunded is at Cakes by Katie's discretion, depending on the circumstances of the cancellation.</li>
                <li>Cancellations made less than 30 days before the event (after the final balance is due/paid) will result in the forfeiture of the deposit and any payments made.</li>
                <li>If the event is cancelled due to circumstances beyond our control (e.g., government restrictions, natural disasters), we will work with you to reschedule or offer a partial refund.</li>
            </ul>

            <h3>2.15. Changing the Wedding Date</h3>
            <ul>
                <li>If you need to change your wedding date, please contact Cakes by Katie as soon as possible.</li>
                <li>We recommend confirming the new date with your venue first and providing us with multiple date options to ensure availability.</li>
                <li>If the new date falls within the same year, we will do our best to accommodate it. However, date changes to a different year may require a new quote reflecting any price increases.</li>
                <li>If the new date is unavailable, the booking will be treated as a cancellation, and the deposit will not be refunded.</li>
                <li>If the date change is possible, any additional costs or changes to the original quote will be confirmed with you before proceeding.</li>
            </ul>

            <h3>2.16. Liability</h3>
            <ul>
                <li>Cakes by Katie is not liable for any damages caused by the cake after it has been delivered to the venue.</li>
                <li>In the event of a mistake or error occurs on our part (e.g., incorrect cake design or delivery), our liability is limited to the cost of the cake.</li>
            </ul>

            <h3>2.17. Force Majeure</h3>
            <p>We are not liable for any failure to perform our obligations due to events beyond our control, including but not limited to natural disasters, transportation delays, government restrictions, or other unforeseen circumstances.</p>

        </section>

        <section>
            <h2>3. Amendments</h2>
            <p>Cakes by Katie may amend or update these Terms and Conditions at any time. The latest version will be available on our website or upon request.</p>
        </section>

    </div>
{% endblock %}