{% set page = "testimonials" %}
{% extends "layout.njk" %}

{% block main %}

    <div class="page-content-container">
        <p class="page-intro">I'm proud to have received many fantastic testimonials from my lovely customers!</p>

        {% for testimonial in testimonials %}
            <div class="testimonial">
                <div class="testimonial-inner">
                    <div
                        class="image"
                    >
                        {{ pictureElement("portfolio/" + portfolio[testimonial.cake].images[0].src, portfolio[testimonial.cake].name, { '800': 'calc(100vw - 120px)', any: '500px' }) }}
                        {% if portfolio[testimonial.cake].flavours %}
                            <span>{{ "Flavours" if (portfolio[testimonial.cake].flavours | length) > 1 else "Flavour"}}: {{ portfolio[testimonial.cake].flavours | join(", ") }}</span>
                        {% endif %}
                    </div>
                    <div class="quote">
                        <blockquote>{{ testimonial.text }}</blockquote>
                        <span>{{ testimonial.name }}{% if testimonial.location %}, {{ testimonial.location }}{% endif %}</span>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}