
{% macro halfImageSection(heading, text, linkHref, linkText, imageSrc, imageAlt, tall = false, inverse = false, background = '#fff6f2') %}
<section
    class="half-image-section{{ ' tall' if tall }}{{ ' inverse' if inverse }}"
    style="background:{{ background }}"
>
    <div class="half-image">
        {% from "macros/picture.njk" import pictureElement with context %}
        {{ pictureElement(imageSrc, imageAlt, { '850': '100vw', any: '50vw' }) }}
    </div>
    
    <div class="half-text">
        <h2>{{ heading }}</h2>
        {% for p in text %}
            <p>{{ p }}</p>
        {% endfor %}
        <div class="link">
            <a
                class="button"
                href="{{ linkHref }}"
            >
                {{ linkText }}
            </a>
        </div>
    </div>
</section>
{% endmacro %}