{% macro pictureElement(path, alt, recommendedSizes) %}
<picture>
    {% set name = path | removeExtension %}
    {% for type in imageFormats.formats %}
        <source
            type="image/{{ type }}"
            srcset="{{ imageFormats.widths | createSrcset("images/" + name, type) }}"
            sizes="{{ recommendedSizes | createSizes }}"
        >
    {% endfor %}
    <img src="images/{{ path }}" alt="{{ alt }}" />
</picture>
{% endmacro %}