{% macro testimonialsSlideshow(cakes) %}
{% from "macros/picture.njk" import pictureElement with context %}
<section class="testimonials">
    <!-- Slider main container -->
    <div class="testimonials-slideshow swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            {% for cake in cakes %}
                {% set testimonial = portfolio[cake].testimonial %}
                <div class="swiper-slide">
                    <div class="item">
                        <div
                            class="image"
                            style="--aspect-ratio: {{ portfolio[cake].images[0].aspectRatio }}"
                        >
                            {{ pictureElement("portfolio/" + portfolio[cake].images[0].src, portfolio[cake].name, { '900': '90vw', any: '45vw' }) }}
                        </div>
                        <div class="quote">
                            <blockquote>{{ testimonial.text }}</blockquote>
                            <span>{{ testimonial.name }}, {{ testimonial.location }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        {% if cakes.length > 1 %}
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        {% endif %}
    </div>

    <div class="testimonials-link-container">
        <a
            class="button button-white"
            href="/testimonials"
        >
            Read more testimonials
        </a>
    </div>
</section>
{% endmacro %}