<p>Starting prices for 2024 weddings are as follows:</p>
<ul style="list-style-type: none; padding: 0;">
    <li>2 tier - starts from £230</li>
    <li>3 tier - starts from £275</li>
    <li>4 tier - starts from £415</li>
</ul>
<p>For larger cakes, please contact me.</p>
<p><a href="/pdfs/wedding-price-list-2024.pdf" target="_blank">Click here for my 2024 price list.</a></p>
<p><a href="/pdfs/wedding-price-list-2025.pdf" target="_blank">Click here for my provisional 2025 price list.</a></p> 

<p>Buttercream and semi-naked wedding cakes need to be set up at the venue. This incurs a £20 charge.</p>
<p>All wedding cakes incur a delivery charge.</p>