<p>Starting prices for 2025 weddings are as follows:</p>
<ul style="list-style-type: none; padding: 0;">
    <li>2 tier - starts from £250</li>
    <li>3 tier - starts from £300</li>
    <li>4 tier - starts from £455</li>
</ul>
<p>For alternative sizes, please contact me.</p>
<p><a href="/pdfs/wedding-price-list-2025.pdf" target="_blank">Click here for my 2025 price list.</a></p>
<p><a href="/pdfs/wedding-price-list-2026.pdf" target="_blank">Click here for my provisional 2026 price list.</a></p> 

<p>Buttercream and semi-naked wedding cakes need to be set up at the venue. This incurs a £20 charge.</p>
<p>All wedding cakes incur a delivery charge.</p>