.about-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  align-items: center;
  margin: auto;
  max-width: 1100px;
  text-align: center;
}
.about-container img {
  width: 100%;
  max-width: 400px;
  border-radius: 500px;
}
.about-container h2 {
  margin-bottom: 0;
}
.about-container p {
  margin: 0;
}
.about-container div.cta {
  margin-top: 20px;
  padding: 20px;
}
.about-container div.cta h3 {
  margin-top: 0;
}