.flavours-text {
  background: #fff;
  padding: min(20px, 5%) 5% min(50px, 5%);
}
.flavours-text p {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.flavours-menu-section {
  position: relative;
}
.flavours-menu-section .flavours-menu-container {
  padding-bottom: 30px;
  min-width: min(500px, 95%);
  max-width: min(1100px, 90%);
  margin: auto;
}
.flavours-menu-section .flavours-menu-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 200px;
  background: #fff;
  z-index: -1;
}
.flavours-menu-section .flavours-menu-container .flavours-menu .flavours-tabs {
  display: flex;
}
.flavours-menu-section .flavours-menu-container .flavours-menu .flavours-tabs button {
  border: none;
  padding: 0.6em 2em;
  margin: 0;
  transform: translateY(1px);
  z-index: 1;
  border: 1px solid #e6e6e6;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  color: #000;
}
.flavours-menu-section .flavours-menu-container .flavours-menu .flavours-list {
  text-align: center;
  padding: 10%;
  border: 1px solid #e6e6e6;
  box-shadow: 0 0 4px 1px #cacaca47;
}
.flavours-menu-section .flavours-menu-container .flavours-menu .flavours-list .flavours-list-grid {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 15px));
  justify-content: space-between;
  gap: 30px;
}
@media only screen and (max-width: 740px) {
  .flavours-menu-section .flavours-menu-container .flavours-menu .flavours-list .flavours-list-grid {
    grid-template-columns: 1fr;
  }
}
.flavours-menu-section .flavours-menu-container .flavours-menu .flavours-list .flavours-list-grid .flavour-row h2 {
  margin: 0;
}
.flavours-menu-section .flavours-menu-container .flavours-menu .flavours-list .flavours-list-grid .flavour-row p {
  font-family: "Lato", sans-serif;
}
.flavours-menu-section .flavours-menu-container .flavours-menu .flavours-list .allergen-info {
  padding-top: 10%;
}
.flavours-menu-section .flavours-menu-container .flavours-menu .flavours-list .allergen-info p {
  margin: 0;
}
.flavours-menu-section .flavours-menu-container .flavours-menu .flavours-list .allergen-info p:first-child small {
  font-weight: 400;
}
.flavours-menu-section .flavours-menu-container .flavours-menu #standard-button {
  background: #fbe4ff;
}
.flavours-menu-section .flavours-menu-container .flavours-menu.standard #standard-button {
  border-bottom-color: #fbe4ff;
}
.flavours-menu-section .flavours-menu-container .flavours-menu.standard .flavour:not(.standard) {
  display: none;
}
.flavours-menu-section .flavours-menu-container .flavours-menu.standard .flavours-list {
  background: #fbe4ff;
}
.flavours-menu-section .flavours-menu-container .flavours-menu #gluten-free-button {
  background: #fff7cf;
}
.flavours-menu-section .flavours-menu-container .flavours-menu.gluten-free #gluten-free-button {
  border-bottom-color: #fff7cf;
}
.flavours-menu-section .flavours-menu-container .flavours-menu.gluten-free .flavour:not(.gluten-free) {
  display: none;
}
.flavours-menu-section .flavours-menu-container .flavours-menu.gluten-free .flavours-list {
  background: #fff7cf;
}
.flavours-menu-section .flavours-menu-container .flavours-menu #dairy-free-button {
  background: #dff6ff;
}
.flavours-menu-section .flavours-menu-container .flavours-menu.dairy-free #dairy-free-button {
  border-bottom-color: #dff6ff;
}
.flavours-menu-section .flavours-menu-container .flavours-menu.dairy-free .flavour:not(.dairy-free) {
  display: none;
}
.flavours-menu-section .flavours-menu-container .flavours-menu.dairy-free .flavours-list {
  background: #dff6ff;
}
.flavours-menu-section .flavours-menu-container .flavours-menu #vegan-button {
  background: #e2ffd1;
}
.flavours-menu-section .flavours-menu-container .flavours-menu.vegan #vegan-button {
  border-bottom-color: #e2ffd1;
}
.flavours-menu-section .flavours-menu-container .flavours-menu.vegan .flavour:not(.vegan) {
  display: none;
}
.flavours-menu-section .flavours-menu-container .flavours-menu.vegan .flavours-list {
  background: #e2ffd1;
}