@charset "UTF-8";
#header-video {
  width: 100%;
  background: #fff;
}
#header-video video {
  width: 100%;
  max-height: calc(100vh - 50px);
  object-fit: cover;
}

#about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 40px;
  background: linear-gradient(to bottom, #F7CAC9, #fff);
}
#about picture {
  width: 40%;
  min-width: 200px;
  max-width: min(100%, 30vh);
}
#about picture img {
  width: 100%;
  border-radius: 100%;
}
#about > div {
  width: 40%;
  min-width: min(100%, 350px);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#about > div h1 {
  font-family: "Licorice", sans-serif;
}

#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 5vw;
  background: #fff;
}
#portfolio #grid {
  display: grid;
  width: min(50vw, 50vh);
  min-width: min(100%, 600px);
  max-width: 100%;
  aspect-ratio: 1/1;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  gap: 10px;
  overflow: hidden;
  margin: auto;
}
#portfolio #grid img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

#contact {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
#contact img {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
#contact .contact-card {
  max-width: 1400px;
  min-width: min(1000px, 90%);
  display: grid;
  grid-template-columns: 50% 50%;
  box-shadow: 0px 0px 11px 1px #7e7e7e78;
}
#contact .contact-card h2, #contact .contact-card h3 {
  font-family: "Licorice", sans-serif;
  margin: 0;
  text-align: center;
}
#contact .contact-card h2 {
  font-size: 3em;
  color: #000;
}
#contact .contact-card h3 {
  font-size: 2.34em;
  margin: 30px 0 5px;
  color: #F7CAC9;
}
#contact .contact-card h3:first-child {
  margin-top: 0;
}
#contact .contact-card i {
  margin-right: 10px;
  font-size: 70%;
}
#contact .contact-card a {
  color: #fff;
  text-decoration: underline;
}
@media (hover: hover) {
  #contact .contact-card a:hover {
    text-decoration: none;
  }
}
#contact .contact-card > div > div {
  border: 2px solid #000;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact .contact-card .contact-card-first-half {
  padding: 20px 0 20px 20px;
  background: #F7CAC9;
}
#contact .contact-card .contact-card-first-half .contact-card-first-half-inner {
  border-right: none;
}
#contact .contact-card .contact-card-second-half {
  padding: 20px 20px 20px 0;
  background: #000;
}
#contact .contact-card .contact-card-second-half .contact-card-second-half-inner {
  border-color: #F7CAC9;
  border-left: none;
}
@media only screen and (max-width: 650px) {
  #contact .contact-card {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
  #contact .contact-card .contact-card-first-half {
    padding: 20px 20px 0;
  }
  #contact .contact-card .contact-card-first-half .contact-card-first-half-inner {
    border-right: 2px solid #000;
    border-bottom: none;
  }
  #contact .contact-card .contact-card-second-half {
    padding: 0 20px 20px;
  }
  #contact .contact-card .contact-card-second-half .contact-card-second-half-inner {
    border-left: 2px solid #F7CAC9;
    border-top: none;
  }
}

#testimonials {
  background: #F7CAC9;
  padding: 20px 0;
}
#testimonials .swiper {
  height: 300px;
}
#testimonials .swiper .swiper-wrapper {
  height: calc(100% - 13px);
}
#testimonials .swiper .swiper-button-prev, #testimonials .swiper .swiper-button-next {
  color: #fff;
}
#testimonials .swiper .swiper-pagination {
  position: static;
  margin-top: 5px;
}
#testimonials .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #fff;
}
#testimonials .swiper .item {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 45px 10px;
  gap: 40px;
  overflow: hidden;
}
#testimonials .swiper .item .image {
  max-width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  aspect-ratio: var(--aspect-ratio);
}
#testimonials .swiper .item .image picture {
  display: flex;
  justify-self: center;
  align-items: center;
}
#testimonials .swiper .item .image img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
#testimonials .swiper .item .quote {
  width: 40%;
  color: #6d6d6d;
}
#testimonials .swiper .item .quote blockquote {
  text-align: center;
  quotes: "“" "”";
  position: relative;
  margin: 0;
  padding: 15px;
  font-style: italic;
  font-weight: 400;
}
#testimonials .swiper .item .quote blockquote::before, #testimonials .swiper .item .quote blockquote::after {
  position: absolute;
  color: white;
  font-family: "Licorice", cursive;
  font-size: 300%;
}
#testimonials .swiper .item .quote blockquote::before {
  content: open-quote;
  top: 0;
  left: 0;
}
#testimonials .swiper .item .quote blockquote::after {
  content: close-quote;
  bottom: 0;
  right: 0;
  line-height: 0px;
}
#testimonials .swiper .item .quote span {
  display: block;
  text-align: right;
  padding-right: 10px;
}
@media only screen and (max-width: 900px) {
  #testimonials .swiper {
    height: 400px;
  }
  #testimonials .swiper .item {
    flex-direction: column;
    gap: 10px;
    /*
        Layout is slightly complex.
        We want text to take up whatever vertical height it needs.
        Then display image as large as possible in remaining space.
        However if those two combined don't take up full height, centre them vertically.

        We achieve this by applying a small height on image that we know would always be safe,
        and adding flex grow to it so that it expands as much as possible.

        However, depending on the aspect ratio of the image, the containing div may grow to be far
        taller than the image. This would cause the text to be pushed to bottom of slide with
        a large gap above it to the image. To solve this we put a max-height on the image container
        based on its aspect ratio.
    */
  }
  #testimonials .swiper .item .image {
    max-width: 100%;
    max-height: calc((100vw - 90px) / var(--aspect-ratio));
    width: auto;
    height: 20%;
    flex-grow: 1;
  }
  #testimonials .swiper .item .quote {
    width: 100%;
  }
}
@media only screen and (max-width: 700px) {
  #testimonials .swiper {
    height: 600px;
  }
}
@media only screen and (min-width: 1150px) {
  #testimonials .swiper-button-prev {
    left: 25px;
  }
  #testimonials .swiper-button-next {
    right: 25px;
  }
}