@charset "UTF-8";
#header-video {
  width: 100%;
  aspect-ratio: 16/9;
}

#about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  background: linear-gradient(to bottom, #F7CAC9, #fff0);
}
#about picture {
  width: 40%;
  min-width: 150px;
  max-width: min(100%, 30vh);
}
#about picture img {
  width: 100%;
}
#about div {
  width: 40%;
  min-width: min(100%, 350px);
  text-align: center;
}
#about div h1 {
  font-family: "Licorice", sans-serif;
}

#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#portfolio #grid {
  display: grid;
  width: min(50vw, 50vh);
  min-width: min(100%, 600px);
  max-width: 100%;
  aspect-ratio: 1/1;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  gap: 10px;
  overflow: hidden;
  margin: auto;
}
#portfolio #grid img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

#testimonials {
  background: #F7CAC9;
  padding: 20px 0;
}
#testimonials .swiper {
  height: 300px;
}
#testimonials .swiper .swiper-wrapper {
  height: calc(100% - 13px);
}
#testimonials .swiper .swiper-button-prev, #testimonials .swiper .swiper-button-next {
  color: #fff;
}
#testimonials .swiper .swiper-pagination {
  position: static;
  margin-top: 5px;
}
#testimonials .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #fff;
}
#testimonials .swiper .item {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 35px 5px;
  gap: 40px;
  overflow: hidden;
}
#testimonials .swiper .item .image {
  max-width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
}
#testimonials .swiper .item .image picture {
  display: flex;
  justify-self: center;
  align-items: center;
}
#testimonials .swiper .item .image img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
#testimonials .swiper .item .quote {
  width: 40%;
  color: #6d6d6d;
}
#testimonials .swiper .item .quote blockquote {
  text-align: center;
  quotes: "“" "”";
  position: relative;
  margin: 0;
  padding: 15px;
  font-style: italic;
  font-weight: 400;
}
#testimonials .swiper .item .quote blockquote::before, #testimonials .swiper .item .quote blockquote::after {
  position: absolute;
  color: white;
  font-family: "Licorice", cursive;
  font-size: 300%;
}
#testimonials .swiper .item .quote blockquote::before {
  content: open-quote;
  top: 0;
  left: 0;
}
#testimonials .swiper .item .quote blockquote::after {
  content: close-quote;
  bottom: 0;
  right: 0;
  line-height: 0px;
}
#testimonials .swiper .item .quote span {
  display: block;
  text-align: right;
  padding-right: 10px;
}
@media only screen and (max-width: 900px) {
  #testimonials .swiper {
    height: 400px;
  }
  #testimonials .swiper .item {
    flex-direction: column;
    gap: 20px;
  }
  #testimonials .swiper .item .image {
    max-width: none;
    max-height: none;
    width: auto;
    height: 40%;
    flex-grow: 1;
  }
  #testimonials .swiper .item .quote {
    width: 90%;
  }
}
@media only screen and (max-width: 700px) {
  #testimonials .swiper {
    height: 600px;
  }
}
@media only screen and (min-width: 1150px) {
  #testimonials .swiper-button-prev {
    left: 25px;
  }
  #testimonials .swiper-button-next {
    right: 25px;
  }
}