section.intro {
  background: #FFF;
  padding: 20px;
}
section.intro div.intro-inner {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}
section.intro div.intro-inner div.cta {
  padding: 20px;
}
section.intro div.intro-inner div.cta h3 {
  margin-top: 0;
}