@charset "UTF-8";
.portfolio-grid-container {
  width: 100%;
  margin: min(30px, 3vw) 0;
  padding: 0 min(30px, 3vw);
}
.portfolio-grid-container .portfolio-grid {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.portfolio-grid-container .portfolio-grid .grid-item {
  position: absolute;
  background: none;
  padding: 0;
  border: none;
  overflow: hidden;
  height: min-content;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}
.portfolio-grid-container .portfolio-grid .grid-item img {
  width: 100%;
  height: 100%;
  transition: transform 0.7s;
}
@media (hover: hover) {
  .portfolio-grid-container .portfolio-grid .grid-item img:hover {
    transform: scale(1.2);
  }
}
.portfolio-grid-container .portfolio-grid.grid-initialised .grid-item.image-loaded {
  opacity: 1;
}

#portfolio-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: #000000e6;
  display: none;
  grid-template-rows: min-content 1fr;
  color: #fff;
}
#portfolio-modal .close-button-container {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}
#portfolio-modal .close-button-container #modal-close {
  background: none;
  padding: 8px 15px;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  transition: all 0.3s;
}
@media (hover: hover) {
  #portfolio-modal .close-button-container #modal-close:hover {
    border-color: #F7CAC9;
    color: #F7CAC9;
  }
}
#portfolio-modal .scrollable-container {
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
}
#portfolio-modal .scrollable-container .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5vw;
  min-height: 100%;
  padding-bottom: 20px;
  gap: 50px;
}
@media only screen and (max-width: 800px) {
  #portfolio-modal .scrollable-container .container {
    gap: 30px;
  }
}
#portfolio-modal .scrollable-container .container .images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#portfolio-modal .scrollable-container .container .images #selected-image {
  width: min(100%, 60vh * var(--aspect-ratio));
  aspect-ratio: var(--aspect-ratio);
  border: 1px solid #F7CAC9;
  background: #000;
}
#portfolio-modal .scrollable-container .container .images #selected-image img, #portfolio-modal .scrollable-container .container .images #selected-image video {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
  object-fit: cover;
}
#portfolio-modal .scrollable-container .container .images #thumbs {
  display: flex;
  height: 80px;
  gap: 15px;
  margin-top: 20px;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
#portfolio-modal .scrollable-container .container .images #thumbs button {
  background: #000;
  padding: 0;
  border: none;
  cursor: pointer;
}
#portfolio-modal .scrollable-container .container .images #thumbs button.video-thumb {
  position: relative;
}
#portfolio-modal .scrollable-container .container .images #thumbs button.video-thumb::before {
  content: "";
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  top: calc(50% - 18px);
  left: calc(50% - 18px);
  background: #000000d1;
  border-radius: 100%;
}
#portfolio-modal .scrollable-container .container .images #thumbs button.video-thumb::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  top: calc(50% - 8px);
  left: calc(50% - 3.3333333333px);
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 10px solid #ffffffd1;
}
#portfolio-modal .scrollable-container .container .images #thumbs button img {
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
}
#portfolio-modal .scrollable-container .container .text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#portfolio-modal .scrollable-container .container .text h1 {
  font-family: "Licorice", sans-serif;
  font-size: 3em;
  color: #F7CAC9;
  margin: 0;
}
#portfolio-modal .scrollable-container .container .text #testimonial {
  font-size: 90%;
}
#portfolio-modal .scrollable-container .container .text #testimonial blockquote {
  text-align: center;
  quotes: "“" "”";
  position: relative;
  margin: 0;
  padding: 15px;
  font-style: italic;
  font-weight: 400;
}
#portfolio-modal .scrollable-container .container .text #testimonial blockquote::before, #portfolio-modal .scrollable-container .container .text #testimonial blockquote::after {
  position: absolute;
  color: white;
  font-family: "Licorice", cursive;
  font-size: 300%;
}
#portfolio-modal .scrollable-container .container .text #testimonial blockquote::before {
  content: open-quote;
  top: 0;
  left: 0;
}
#portfolio-modal .scrollable-container .container .text #testimonial blockquote::after {
  content: close-quote;
  bottom: 0;
  right: 0;
  line-height: 0px;
}
#portfolio-modal .scrollable-container .container .text #testimonial span {
  display: block;
  text-align: right;
  padding-right: 10px;
}
@media only screen and (min-width: 1200px) {
  #portfolio-modal .scrollable-container .container {
    flex-direction: row;
  }
  #portfolio-modal .scrollable-container .container .images {
    max-width: 40vw;
  }
  #portfolio-modal .scrollable-container .container .images #selected-image {
    width: min(40vw, 60vh * var(--aspect-ratio));
  }
  #portfolio-modal .scrollable-container .container .text {
    max-width: 36vw;
  }
}
#portfolio-modal .scrollable-container .container.title-only {
  flex-direction: column;
}
#portfolio-modal .scrollable-container .container.title-only .images, #portfolio-modal .scrollable-container .container.title-only .text {
  max-width: none;
}

body.portfolio-modal-open {
  overflow: hidden;
}
body.portfolio-modal-open #portfolio-modal {
  display: grid;
}