{% set page = "celebrationCakes" %}
{% extends "layout.njk" %}

{% block head %}
    {% from "macros/image-carousel-head.njk" import imageCarouselHead %}
    {{ imageCarouselHead() }}
{% endblock %}

{% block main %}

    <section class="intro">

        <div class="intro-text">
            {# hort paragraph here about celebration cakes. Keep it fun and don't go heavy on detail - it should be covered below. Sell why their occasion needs a cake from us! #}
            <p class="handwriting" style="font-size:2em;">Perfect for turning life's moments into unforgettable memories.</p>
            
            <p>Whether you're looking for a show-stopping centerpiece or a gift for someone special, all my cakes are lovingly handcrafted to make it a celebration to remember.</p>
            
            {# <p>Let me make your celebration even more special with one of my cakes, all lovingly custom made.</p> #}
        </div>

        <div class="service-breakdown-container">
            {% from "macros/service-breakdown.njk" import serviceBreakdown %}
            {{ serviceBreakdown([
                {
                    image: 'heart.svg',
                    heading: 'Bespoke designs',
                    description: "I'll work with you to create your perfect cake."
                },
                {
                    image: 'lemon.svg',
                    heading: flavours.length ~ ' flavours',
                    description: "With so many sponge flavours, there's something for everyone."
                },
                {
                    image: 'cow.svg',
                    heading: 'Free from options',
                    description: "I can cater for specific dietary requirements, including gluten free, dairy free, eggless and vegan."
                },
                {
                    image: 'van.svg',
                    heading: 'Delivery available',
                    description: "Delivery is available for an additional fee."
                }
            ]) }}
        </div>
    </section>

    {% from "macros/image-carousel.njk" import imageCarousel with context %}
    {{ imageCarousel(getMatchingCakes({ product: 'celebration-cake' }, 30), 'linear-gradient(to bottom, #fff, #000)') }}

    {% from "macros/design-choices.njk" import designChoices with context %}
    {{
        designChoices(
            "Let's design your cake!",
            "I'll work with you to create your perfect cake, whether you already know exactly what you want or have absolutely no idea. There are so many options to choose from! Here are some of the most popular...",
            [
                {
                    name: "Finishes",
                    items: [
                        {
                            name: "Smooth buttercream",
                            image: "choices/wedding-cakes/finishes/buttercream.jpg"
                        },
                        {
                            name: "Textured buttercream",
                            image: "choices/celebration-cakes/finishes/buttercream.jpg"
                        },
                        {
                            name: "Fondant",
                            image: "choices/celebration-cakes/finishes/fondant.jpg"
                        }
                    ]
                },
                {
                    name: "Flavours",
                    items: flavours
                },
                {
                    name: "Decoration",
                    items: [
                        {
                            name: "Topper",
                            image: "choices/celebration-cakes/decoration/topper.jpg"
                        },
                        {
                            name: "Plaque",
                            image: "choices/celebration-cakes/decoration/plaque.jpg"
                        },
                        {
                            name: "Embossed lettering",
                            image: "choices/celebration-cakes/decoration/embossed-lettering.jpg"
                        },
                        {
                            name: "Chocolate drips",
                            image: "choices/celebration-cakes/decoration/chocolate-drips.jpg"
                        },
                        {
                            name: "Coloured drips",
                            image: "choices/celebration-cakes/decoration/coloured-drips.jpg"
                        },
                        {
                            name: "Edible images",
                            image: "choices/celebration-cakes/decoration/edible-image.jpg"
                        },
                        {
                            name: "Fondant flowers",
                            image: "choices/celebration-cakes/decoration/fondant-flowers.jpg"
                        },
                        {
                            name: "Fresh flowers",
                            image: "choices/celebration-cakes/decoration/fresh-flowers.jpg"
                        },
                        {
                            name: "Silk flowers",
                            image: "choices/celebration-cakes/decoration/silk-flowers.jpg"
                        },
                        {
                            name: "Fondant models",
                            image: "choices/celebration-cakes/decoration/fondant-model.jpg"
                        },
                        {
                            name: "Ball toppers",
                            image: "choices/celebration-cakes/decoration/ball-toppers.jpg"
                        },
                        {
                            name: "Airbrushing",
                            image: "choices/celebration-cakes/decoration/airbrushing.jpg"
                        },
                        {
                            name: "Ruffles",
                            image: "choices/celebration-cakes/decoration/ruffles.jpg"
                        }
                    ]
                },
                {
                    name: "Special extras",
                    items: [
                        {
                            name: "Pinata cake",
                            image: "choices/celebration-cakes/special/pinata.jpg"
                        },
                        {
                            name: "Balloon",
                            image: "choices/celebration-cakes/special/balloon.jpg"
                        }
                    ]
                }
            ]
        )
    }}

    {{ imageCarousel(getMatchingCakes({ product: 'celebration-cake' }, 30, 30), 'linear-gradient(to bottom, #000, ' ~ pricing.celebrationCakes.colour ~ ')') }}

    <section id="pricing" style="background:{{pricing.celebrationCakes.colour}}">
        <h2 style="margin-top:0;">Pricing</h2>
        {% include "celebration-cake-pricing.njk" %}
    </section>

    {% from "macros/half-image-section.njk" import halfImageSection with context %}
    {{ halfImageSection(
        'Why not get some cupcakes too?',
        "Cupcakes can be a great accompaniment to a celebration cake. They can match the theme and flavour, or offer something different, and boost the number of portions if needed. They're also a great way to cater for guests with specific dietary requirements.",
        "/products/cupcakes",
        "See cupcakes",
        "portfolio/Birthday-Shades-Blue-Glitz-2.jpg",
        "Cupcakes"
    ) }}
{% endblock %}

{% block scripts %}
    
{% endblock %}