{% set page = "celebrationCakes" %}
{% extends "layout.njk" %}

{% block head %}
    {% from "macros/image-carousel-head.njk" import imageCarouselHead %}
    {{ imageCarouselHead() }}
{% endblock %}

{% block main %}

    <section class="intro">

        <div class="intro-text">
            <p>Short paragraph here about celebration cakes. Keep it fun and don't go heavy on detail - it should be covered below. Sell why their occasion needs a cake from us!</p>
        </div>

        <div class="service-breakdown-container">
            {% from "macros/service-breakdown.njk" import serviceBreakdown %}
            {{ serviceBreakdown([
                {
                    image: 'heart.svg',
                    heading: 'Bespoke designs',
                    description: "I'll work with you to create your perfect cake."
                },
                {
                    image: 'lemon.svg',
                    heading: flavours.length ~ ' flavours',
                    description: "With so many sponge flavours, there's something for everyone."
                },
                {
                    image: 'cow.svg',
                    heading: 'Free from options',
                    description: "I can cater for specific dietary requirements, including gluten and dairy free and vegan."
                },
                {
                    image: 'van.svg',
                    heading: 'Delivery available',
                    description: "Delivery is available for an additional fee."
                }
            ]) }}
        </div>

        {# <div class="intro-inner">
            <p>Intro text here</p>
            <div class="cta">
                <h3>Want a quote for a celebration cake?</h3>
                <a
                    class="button"
                    href="/#contact"
                >
                    Contact me
                </a>
            </div>
        </div> #}
    </section>

    {% from "macros/image-carousel.njk" import imageCarousel with context %}
    {{ imageCarousel(getMatchingCakes({ product: 'celebration-cake' }, 30), 'linear-gradient(to bottom, #fff, #000)') }}

    {% from "macros/design-choices.njk" import designChoices with context %}
    {{
        designChoices(
            "Let's design your cake!",
            "Some sentence here.",
            [
                {
                    name: "Finishes",
                    items: [
                        {
                            name: "Buttercream",
                            description: "Optional description. Mention it's cheaper and has more pastel colours. List various options including textured.",
                            image: "choices/celebration-cakes/finishes/buttercream.jpg"
                        },
                        {
                            name: "Fondant",
                            description: "Optional description. Mention it's more expensive. List various advantages.",
                            image: "choices/celebration-cakes/finishes/fondant.jpg"
                        }
                    ]
                },
                {
                    name: "Flavours",
                    items: flavours
                },
                {
                    name: "Decoration",
                    items: [
                        {
                            name: "Topper",
                            image: "choices/celebration-cakes/decoration/topper.jpg"
                        },
                        {
                            name: "Chocolate drips",
                            image: "choices/celebration-cakes/decoration/chocolate-drips.jpg"
                        },
                        {
                            name: "Coloured drips",
                            image: "choices/celebration-cakes/decoration/coloured-drips.jpg"
                        },
                        {
                            name: "Fondant flowers",
                            image: "choices/celebration-cakes/decoration/fondant-flowers.jpg"
                        },
                        {
                            name: "Fresh flowers",
                            image: "choices/celebration-cakes/decoration/fresh-flowers.jpg"
                        },
                        {
                            name: "Silk flowers",
                            image: "choices/celebration-cakes/decoration/silk-flowers.jpg"
                        },
                        {
                            name: "Fondant models",
                            image: "choices/celebration-cakes/decoration/fondant-model.jpg"
                        },
                        {
                            name: "Airbrushing",
                            image: "choices/celebration-cakes/decoration/airbrushing.jpg"
                        },
                        {
                            name: "Edible images",
                            image: "choices/celebration-cakes/decoration/edible-image.jpg"
                        },
                        {
                            name: "Plaque",
                            image: "choices/celebration-cakes/decoration/plaque.jpg"
                        },
                        {
                            name: "Ball toppers",
                            image: "choices/celebration-cakes/decoration/ball-toppers.jpg"
                        },
                        {
                            name: "Ruffles",
                            image: "choices/celebration-cakes/decoration/ruffles.jpg"
                        },
                        {
                            name: "Embossed lettering",
                            image: "choices/celebration-cakes/decoration/embossed-lettering.jpg"
                        }
                    ]
                },
                {
                    name: "Special extras",
                    items: [
                        {
                            name: "Pinata cake",
                            image: "choices/celebration-cakes/special/pinata.jpg"
                        },
                        {
                            name: "Money cake",
                            image: "portfolio/A-Touch-of-Pink.jpg"
                        },
                        {
                            name: "Balloon",
                            image: "choices/celebration-cakes/special/balloon.jpg"
                        }
                    ]
                }
            ]
        )
    }}

    {{ imageCarousel(getMatchingCakes({ product: 'celebration-cake' }, 30, 30), 'linear-gradient(to bottom, #000, #dff6ff)') }}

    <section id="pricing" style="background:{{pricing.celebrationCakes.colour}}">
        <h2 style="margin-top:0;">Pricing</h2>
        {% include "celebration-cake-pricing.njk" %}
    </section>

    {% from "macros/half-image-section.njk" import halfImageSection with context %}
    {{ halfImageSection(
        'Why not get some cupcakes too?',
        "Two or three sentences here about how cupcakes can be a great accompaniment to a celebration cake. They can match the theme, or offer something different, and boost the number of portions if needed. They're also a great way to cater for guests with specific dietary requirements when the main celebration cake doesn't.",
        "/products/cupcakes",
        "See cupcakes",
        "portfolio/Baby-Shades.jpg",
        "Cupcakes"
    ) }}

    {# Finishes, decorations, flavours, special additions (pinata, money cake, balloon) #}
    {# Pricing #}
    {# Cupcakes on the side #}
    {# Delivery? #}
    {# Some inspiration (like birthday cakes)? #}
{% endblock %}

{% block scripts %}
    
{% endblock %}