{% set page = "cupcakes" %}
{% extends "layout.njk" %}

{% block head %}
    {% from "macros/image-carousel-head.njk" import imageCarouselHead %}
    {{ imageCarouselHead() }}
{% endblock %}

{% block main %}

    <section class="intro">

        <div class="intro-text">
            <p>Short paragraph here about cupcakes. Keep it fun and don't go heavy on detail - it should be covered below. Maybe list some uses of cupcakes, whether they're being used as the main event, to accompany a main cake, or as a gift.</p>
        </div>

        <div class="service-breakdown-container">
            {% from "macros/service-breakdown.njk" import serviceBreakdown %}
            {{ serviceBreakdown([
                {
                    image: 'heart.svg',
                    heading: 'Bespoke designs',
                    description: "I'll work with you to create your perfect cupcakes."
                },
                {
                    image: 'lemon.svg',
                    heading: flavours.length ~ ' flavours',
                    description: "With so many sponge flavours, there's something for everyone."
                },
                {
                    image: 'cow.svg',
                    heading: 'Free from options',
                    description: "I can cater for specific dietary requirements, including gluten and dairy free and vegan."
                },
                {
                    image: 'gift-wrap.svg',
                    heading: 'Gift wrapping',
                    description: "Gift wrapping such as ribbon, gift notes and candles are available."
                },
                {
                    image: 'van.svg',
                    heading: 'Delivery available',
                    description: "Delivery is available for an additional fee."
                }
            ]) }}
        </div>
    </section>

    {% from "macros/image-carousel.njk" import imageCarousel with context %}
    {{ imageCarousel(getMatchingCakes({ product: 'cupcakes' }, 30), 'linear-gradient(to bottom, #fff, #000)') }}

    {% from "macros/design-choices.njk" import designChoices with context %}
    {{
        designChoices(
            "Let's design your cupcakes!",
            "Some sentence here.",
            [
                {
                    name: "Cases",
                    items: [
                        {
                            name: "White paper",
                            image: "choices/buttercream.jpg"
                        },
                        {
                            name: "Coloured paper",
                            image: "choices/buttercream.jpg"
                        },
                        {
                            name: "Metallic foil",
                            image: "choices/buttercream.jpg"
                        }
                    ]
                },
                {
                    name: "Flavours",
                    items: flavours
                },
                {
                    name: "Decoration",
                    items: [
                        {
                            name: "Buttercream swirl",
                            image: "choices/topper.jpg"
                        },
                        {
                            name: "Plaque",
                            image: "choices/plaque.jpg"
                        },
                        {
                            name: "Novelty",
                            image: "choices/chocolate-drips.jpg"
                        },
                        {
                            name: "Flowers",
                            image: "choices/coloured-drips.jpg"
                        },
                        {
                            name: "Edible images",
                            image: "choices/edible-image.jpg"
                        },
                        {
                            name: "Plaque",
                            image: "choices/plaque.jpg"
                        }
                    ]
                },
                {
                    name: "Gift wrapping",
                    items: [
                        {
                            name: "Ribbon",
                            image: "choices/pinata.jpg"
                        },
                        {
                            name: "Candle",
                            image: "portfolio/A-Touch-of-Pink.jpg"
                        },
                        {
                            name: "Gift note",
                            image: "choices/balloon.jpg"
                        },
                        {
                            name: "Bouquet",
                            image: "choices/balloon.jpg"
                        }
                    ]
                }
            ]
        )
    }}

    {{ imageCarousel(getMatchingCakes({ product: 'cupcakes' }, 30, 30), 'linear-gradient(to bottom, #000, #dff6ff)') }}

    <section id="pricing" style="background:{{pricing.cupcakes.colour}}">
        <h2 style="margin-top:0;">Pricing</h2>
        {% include "cupcakes-pricing.njk" %}
    </section>

    {# {% from "macros/half-image-section.njk" import halfImageSection with context %}
    {{ halfImageSection(
        'How about some wedding favours?',
        "Two or three sentences here encouraging them to buy wedding favours from us to. List some examples of what we offer and why cakes or other treats are great wedding favours.",
        "/products/wedding-favours",
        "See wedding favours",
        "portfolio/Baby-Shades.jpg",
        "Cupcakes"
    ) }} #}
{% endblock %}

{% block scripts %}
    
{% endblock %}