{% set page = "cupcakes" %}
{% extends "layout.njk" %}

{% block head %}
    {% from "macros/image-carousel-head.njk" import imageCarouselHead %}
    {{ imageCarouselHead() }}
{% endblock %}

{% block main %}

    <section class="intro">

        <div class="intro-text">
            <p>Cupcakes are perfect for any occasion. Whether as the main event, a complement to your main cake to cater for various dietary requirements, or a thoughtful gift, my cupcakes are sure to delight.</p>
        </div>

        <div class="service-breakdown-container">
            {% from "macros/service-breakdown.njk" import serviceBreakdown %}
            {{ serviceBreakdown([
                {
                    image: 'heart.svg',
                    heading: 'Bespoke designs',
                    description: "I'll work with you to create your perfect cupcakes."
                },
                {
                    image: 'lemon.svg',
                    heading: flavours.length ~ ' flavours',
                    description: "With so many sponge flavours, there's something for everyone."
                },
                {
                    image: 'cow.svg',
                    heading: 'Free from options',
                    description: "I can cater for specific dietary requirements, including gluten free, dairy free, eggless and vegan."
                },
                {
                    image: 'gift-wrap.svg',
                    heading: 'Gift wrapping',
                    description: "Gift wrapping such as ribbon and gift notes are available."
                },
                {
                    image: 'van.svg',
                    heading: 'Delivery available',
                    description: "Delivery is available for an additional fee."
                }
            ]) }}
        </div>
    </section>

    {% from "macros/image-carousel.njk" import imageCarousel with context %}
    {{ imageCarousel(getMatchingCakes({ product: 'cupcakes' }), 'linear-gradient(to bottom, #fff, #000)') }}

    {% from "macros/design-choices.njk" import designChoices with context %}
    {{
        designChoices(
            "Let's design your cupcakes!",
            "With cupcakes, there are so many options to choose from! Here are some of the most popular...",
            [
                {
                    name: "Cases",
                    items: [
                        {
                            name: "White paper",
                            image: "choices/cupcakes/cases/white-paper.jpg"
                        },
                        {
                            name: "Coloured paper",
                            image: "choices/cupcakes/cases/coloured-paper.jpg"
                        },
                        {
                            name: "Metallic foil",
                            image: "choices/cupcakes/cases/foil.jpg"
                        }
                    ]
                },
                {
                    name: "Flavours",
                    items: flavours
                },
                {
                    name: "Piping",
                    items: [
                        {
                            name: "Swirl",
                            image: "choices/cupcakes/piping/swirl.jpg"
                        },
                        {
                            name: "Mixed",
                            image: "choices/cupcakes/piping/mixed.jpg"
                        },
                        {
                            name: "Colours",
                            image: "choices/cupcakes/piping/colours.jpg"
                        },
                        {
                            name: "Flowers",
                            image: "choices/cupcakes/piping/flowers2.jpg"
                        },
                        {
                            name: "Novelty",
                            image: "choices/cupcakes/piping/novelty.jpg"
                        }
                    ]
                },
                {
                    name: "Toppers",
                    items: [
                        {
                            name: "Embossed",
                            image: "choices/cupcakes/toppers/embossed.jpg"
                        },
                        {
                            name: "Embossed - painted",
                            image: "choices/cupcakes/toppers/emboss-paint.jpg"
                        },
                        {
                            name: "Acryllic plaque",
                            image: "choices/cupcakes/toppers/plaque-acryllic.jpg"
                        },
                        {
                            name: "Card",
                            image: "choices/cupcakes/toppers/card.jpg"
                        },
                        {
                            name: "Number",
                            image: "choices/cupcakes/toppers/number.jpg"
                        },
                        {
                            name: "Chocolate number",
                            image: "choices/cupcakes/toppers/chocolate-number.jpg"
                        },
                        {
                            name: "Chocolate",
                            image: "choices/cupcakes/toppers/chocolate.jpg"
                        },
                        {
                            name: "Shape",
                            image: "choices/cupcakes/toppers/shape.jpg"
                        },
                        {
                            name: "Edible image",
                            image: "choices/cupcakes/toppers/edible-image.jpg"
                        },
                        {
                            name: "Novelty",
                            image: "choices/cupcakes/toppers/novelty.jpg"
                        }
                    ]
                },
                {
                    name: "Decoration",
                    items: [
                        {
                            name: "Chocolate",
                            image: "choices/cupcakes/decoration/chocolate.jpg"
                        },
                        {
                            name: "Flower",
                            image: "choices/cupcakes/decoration/flower.jpg"
                        },
                        {
                            name: "Rose",
                            image: "choices/cupcakes/decoration/rose.jpg"
                        },
                        {
                            name: "Sprinkles",
                            image: "choices/cupcakes/decoration/sprinkles.jpg"
                        }
                    ]
                }
            ]
        )
    }}

    {{ imageCarousel(getMatchingCakes({ product: 'cupcakes' }), 'linear-gradient(to bottom, #000, ' ~ products.cupcakes.colours.light ~ ')') }}

    <section id="pricing" style="background:{{products.cupcakes.colours.light}}">
        <h2 style="margin-top:0;">Pricing</h2>
        {% include "cupcakes-pricing.njk" %}
    </section>
{% endblock %}

{% block scripts %}
    
{% endblock %}