{% set page = "gifts" %}
{% extends "layout.njk" %}

{% block main %}

    {# {% from "macros/product-range.njk" import productRange with context %}
    {{
        productRange(
            [
                {
                    name: "Cake jars",
                    image: "christmas/star-cookies.jpg",
                    price: "£4 each",
                    description: "<p>Description of cake jars here. Flavours include vanilla, chocolate, raspberry and orange. Minimum order of 6 per flavour.</p>"
                },
                {
                    name: "Biscuits",
                    image: "christmas/star-cookies.jpg",
                    price: "£2 each",
                    description: "<p>Description of cake jars here. Flavours include vanilla, chocolate, raspberry and orange. Minimum order of 6 per flavour.</p>"
                },
                {
                    name: "Decorated biscuits",
                    image: "christmas/star-cookies.jpg",
                    price: "£3 each",
                    description: "<p>Description of cake jars here. Flavours include vanilla, chocolate, raspberry and orange. Minimum order of 6 per flavour.</p>"
                },
                {
                    name: "Macarons",
                    image: "christmas/star-cookies.jpg",
                    price: "£3 each",
                    description: "<p>Description of cake jars here. Flavours include vanilla, chocolate, raspberry and orange. Minimum order of 6 per flavour.</p>"
                }
            ],
            "Paragraph here about gifts. Maybe encourage them to consider a larger cake or box of cupcakes?",
            [
                {
                    title: "Bespoke",
                    icon: "heart.svg",
                    description: "I'll customise these favours for your special day."
                },
                {
                    title: "Bespoke",
                    icon: "heart.svg",
                    description: "I'll customise these favours for your special day."
                },
                {
                    title: "Bespoke",
                    icon: "heart.svg",
                    description: "I'll customise these favours for your special day."
                },
                {
                    title: "Delivery available",
                    icon: "van.svg",
                    description: "I can deliver these to the venue."
                }
            ]
        )
    }} #}

{% endblock %}