{% set page = "products" %}
{% extends "layout.njk" %}

{% block main %}

    <section class="intro">
        <div class="intro-text">
            <p>I offer cakes for all occasions. Celebration cakes are the perfect centrepiece to any event, whether you're looking for a memorable show-stopper or an unforgettable gift for someone special. If you're going through the exciting time of wedding planning, I'd love to discuss your dream cake with you, as well as the wedding favours I can provide for your special day. And of course cupcakes can complement any celebration or be a lovely gift on their own.</p>
            <p>If you have something in mind that I haven't mentioned, please feel free to get in touch!</p>
        </div>
    </section>

    {% from "macros/grid-menu-links.njk" import gridMenuLinks with context %}
    {{
        gridMenuLinks(
            [
                {
                    href: '/products/celebration-cakes',
                    title: 'Celebration Cakes',
                    imageSrc: 'cake-cutouts/parker-penguin.png',
                    imageAlt: 'Parker penguin birthday cake',
                    colour: products.celebrationCakes.colours.dark
                },
                {
                    href: '/products/wedding-cakes',
                    title: 'Wedding Cakes',
                    imageSrc: 'cake-cutouts/wedding.png',
                    imageAlt: 'Wedding cake',
                    colour: products.weddingCakes.colours.dark
                },
                {
                    href: '/products/cupcakes',
                    title: 'Cupcakes',
                    imageSrc: 'cake-cutouts/rose-mix-triple.png',
                    imageAlt: 'Rose mix cupcakes',
                    colour: products.cupcakes.colours.dark
                },
                {
                    href: '/products/wedding-favours',
                    title: 'Wedding favours',
                    imageSrc: 'wedding-favours/cake-jar-cutout.png',
                    imageAlt: 'Cake jar wedding favour',
                    colour: products.weddingFavours.colours.dark
                }
            ],
            "What are you looking for?"
        )
    }}

    {#
                {
                    href: '/products/gifts',
                    title: 'Gifts',
                    imageSrc: 'cake-cutouts/corporate-cupcakes.png',
                    imageAlt: 'Corporate cupcakes',
                    colour: '#85ca5d'
                } #}

{% endblock %}