{% set page = "products" %}
{% extends "layout.njk" %}

{% block main %}

    <section class="intro">
        <p>Talk about different products and how they're bespoke and high quality. Also mention difference between cupcakes and deluxe cupcakes. Say that the customer is welcome to enquire about something not listed below.</p>
    </section>

    {% from "macros/grid-menu-links.njk" import gridMenuLinks with context %}
    {{
        gridMenuLinks(
            [
                {
                    href: '/products/celebration-cakes',
                    title: 'Celebration Cakes',
                    imageSrc: 'cake-cutouts/parker-penguin.png',
                    imageAlt: 'Parker penguin birthday cake',
                    colour: '#ace7ff'
                },
                {
                    href: '/products/cupcakes',
                    title: 'Cupcakes',
                    imageSrc: 'cake-cutouts/rose-mix-triple.png',
                    imageAlt: 'Rose mix cupcakes',
                    colour: '#c5a3ff'
                },
                {
                    href: '/products/deluxe-cupcakes',
                    title: 'Deluxe cupcakes',
                    imageSrc: 'cake-cutouts/anniversary-cake.png',
                    imageAlt: 'Anniversary cake',
                    colour: '#f8df81'
                },
                {
                    href: '/products/wedding-favours',
                    title: 'Wedding favours',
                    imageSrc: 'cake-cutouts/christening-cake.png',
                    imageAlt: 'Christening cake',
                    colour: '#fca669'
                },
                {
                    href: '/products/cake-jars',
                    title: 'Cake jars',
                    imageSrc: 'cake-cutouts/corporate-cupcakes.png',
                    imageAlt: 'Corporate cupcakes',
                    colour: '#85ca5d'
                }
            ],
            "What are you looking for?"
        )
    }}

{% endblock %}