{% set page = "weddingCakes" %}
{% extends "layout.njk" %}

{% block head %}
    {% from "macros/image-carousel-head.njk" import imageCarouselHead %}
    {{ imageCarouselHead() }}
{% endblock %}

{% block main %}

    <section class="intro">

        <div class="intro-text">
            {# Short paragraph here about wedding cakes. Start by congratulating the couple on their engagement. Keep it fun and don't go heavy on detail - it should be covered below. Sell why their wedding needs a cake from us! Also mention that wedding favours are available too. #}
            <p>Congratulations on your engagement! All of my wedding cakes are meticulously crafted to reflect your unique style and taste, creating a centrepiece that not only looks amazing but tastes delicious too!</p>
        </div>

        <div class="service-breakdown-container">
            {% from "macros/service-breakdown.njk" import serviceBreakdown %}
            {{ serviceBreakdown([
                {
                    image: 'heart.svg',
                    heading: 'Bespoke designs',
                    description: "I'll work with you to create your perfect wedding cake."
                },
                {
                    image: 'lemon.svg',
                    heading: flavours.length ~ ' flavours',
                    description: "With so many sponge flavours, there's something for everyone."
                },
                {
                    image: 'gift-bag.svg',
                    heading: 'Sample bag',
                    description: "You'll receive 5 complimentary flavour samples of your choice from my extensive list."
                },
                {
                    image: 'cow.svg',
                    heading: 'Free from options',
                    description: "I can cater for specific dietary requirements, including gluten free, dairy free, eggless and vegan."
                },
                {
                    image: 'van.svg',
                    heading: 'Set up and delivery',
                    description: "I deliver all wedding cakes to the venue."
                }
            ]) }}
            {# {
                    image: 'van.svg',
                    heading: 'Florist/venue liasing',
                    description: "Something about that you'll liase with the venue and, if necessary, the florist to arrange timings on the day."
                } #}
        </div>
    </section>

    {% from "macros/image-carousel.njk" import imageCarousel with context %}
    {{ imageCarousel(getMatchingCakes({ product: 'wedding-cake' }, 30), 'linear-gradient(to bottom, #fff, #000)') }}

    {% from "macros/design-choices.njk" import designChoices with context %}
    {{
        designChoices(
            "Let's design your dream wedding cake!",
            "Together we will create your perfect wedding cake, whether you know exactly what you want or have no idea yet. There are so many options to choose from! Here are some of the most popular...",
            [
                {
                    name: "Finishes",
                    items: [
                        {
                            name: "Semi naked",
                            image: "choices/wedding-cakes/finishes/semi-naked.jpg"
                        },
                        {
                            name: "Smooth buttercream",
                            image: "choices/wedding-cakes/finishes/buttercream.jpg"
                        },
                        {
                            name: "Textured buttercream",
                            image: "choices/wedding-cakes/finishes/buttercream-texture.jpg"
                        },
                        {
                            name: "Fondant",
                            image: "choices/wedding-cakes/finishes/fondant.jpg"
                        },
                        {
                            name: "Lustre",
                            image: "choices/wedding-cakes/finishes/lustre.jpg"
                        },
                        {
                            name: "Marble",
                            image: "choices/wedding-cakes/finishes/marble.jpg"
                        },
                        {
                            name: "Sparkle sugar",
                            image: "choices/wedding-cakes/finishes/sparkle-sugar.jpg"
                        },
                        {
                            name: "Royal icing texture",
                            image: "choices/wedding-cakes/finishes/fondant-texture.jpg"
                        }
                    ]
                },
                {
                    name: "Flavours",
                    items: flavours
                },
                {
                    name: "Decoration",
                    items: [
                        {
                            name: "Fresh flowers",
                            image: "choices/wedding-cakes/decoration/fresh-flowers.jpg"
                        },
                        {
                            name: "Pressed flowers",
                            image: "choices/wedding-cakes/decoration/pressed-flowers.jpg"
                        },
                        {
                            name: "Dried flowers",
                            image: "choices/wedding-cakes/decoration/dried-flowers.jpg"
                        },
                        {
                            name: "Silk flowers",
                            image: "choices/wedding-cakes/decoration/silk-flowers.jpg"
                        },
                        {
                            name: "Fondant flowers",
                            image: "choices/wedding-cakes/decoration/fondant-flowers.jpg"
                        },
                        {
                            name: "Ribbon",
                            image: "choices/wedding-cakes/decoration/ribbon.jpg"
                        },
                        {
                            name: "Topper",
                            image: "choices/wedding-cakes/decoration/topper.jpg"
                        },
                        {
                            name: "Script",
                            image: "choices/wedding-cakes/decoration/script.jpg"
                        },
                        {
                            name: "Piping",
                            image: "choices/wedding-cakes/decoration/piping.jpg"
                        },
                        {
                            name: "Ball toppers",
                            image: "choices/wedding-cakes/decoration/balls.jpg"
                        }
                    ]
                }
            ]
        )
    }}

    {{ imageCarousel(getMatchingCakes({ product: 'wedding-cake' }, 30, 30), 'linear-gradient(to bottom, #000, ' ~ pricing.weddingCakes.colour ~ ')') }}

    <section id="pricing" style="background:{{pricing.weddingCakes.colour}}">
        <h2 style="margin-top:0;">Pricing</h2>
        {% include "wedding-cake-pricing.njk" %}
    </section>

    {% from "macros/half-image-section.njk" import halfImageSection with context %}
    {{ halfImageSection(
        'How about some wedding favours?',
        [
            "My wedding favours are lovingly crafted to delight your guests and include cake jars, hot chocolate bombes and fondant covered cookies. They are the perfect gesture to thank your guests for sharing in your special day.",
            "Cake jars are finished with a spoon, decorated with ribbon or twine and the labelling can be tailored to match your wedding stationery/theme. Hot chocolate bombes are presented in a beautifully ribboned box on a bed of marshmallows. Wedding favour sugar cookies are covered in fondant icing and can be shaped and decorated as required.",
            "If you would like something different as a wedding favour, please let me know and I will do my best to accommodate your request."
        ],
        "/#contact",
        "Contact me",
        "wedding-favours/bombe-landscape.jpg",
        "Cookie wedding favour"
    ) }}
{% endblock %}

{% block scripts %}
    
{% endblock %}