{% set page = "weddingCakes" %}
{% extends "layout.njk" %}

{% block head %}
    {% from "macros/image-carousel-head.njk" import imageCarouselHead %}
    {{ imageCarouselHead() }}
{% endblock %}

{% block main %}

    <section class="intro">

        <div class="intro-text">
            <p>Short paragraph here about wedding cakes. Start by congratulating the couple on their engagement. Keep it fun and don't go heavy on detail - it should be covered below. Sell why their wedding needs a cake from us! Also mention that wedding favours are available too.</p>
        </div>

        <div class="service-breakdown-container">
            {% from "macros/service-breakdown.njk" import serviceBreakdown %}
            {{ serviceBreakdown([
                {
                    image: 'heart.svg',
                    heading: 'Bespoke designs',
                    description: "I'll work with you to create your perfect wedding cake."
                },
                {
                    image: 'lemon.svg',
                    heading: flavours.length ~ ' flavours',
                    description: "With so many sponge flavours, there's something for everyone."
                },
                {
                    image: 'gift-bag.svg',
                    heading: 'Sample bag',
                    description: "You'll receive 5 complimentary flavour samples of your choice from my extensive list."
                },
                {
                    image: 'cow.svg',
                    heading: 'Free from options',
                    description: "I can cater for specific dietary requirements, including gluten and dairy free and vegan."
                },
                {
                    image: 'van.svg',
                    heading: 'Set up and delivery',
                    description: "I deliver all wedding cakes to the venue."
                },
                {
                    image: 'van.svg',
                    heading: 'Florist/venue liasing',
                    description: "Something about that you'll liase with the venue and, if necessary, the florist to arrange timings on the day."
                }
            ]) }}
        </div>

        {# <div class="intro-inner">
            <p>Intro text here</p>
            <div class="cta">
                <h3>Want a quote for a celebration cake?</h3>
                <a
                    class="button"
                    href="/#contact"
                >
                    Contact me
                </a>
            </div>
        </div> #}
    </section>

    {% from "macros/image-carousel.njk" import imageCarousel with context %}
    {{ imageCarousel(getMatchingCakes({ product: 'wedding-cake' }, 30), 'linear-gradient(to bottom, #fff, #000)') }}

    {% from "macros/design-choices.njk" import designChoices with context %}
    {{
        designChoices(
            "Let's design your dream wedding cake!",
            "Some sentence here.",
            [
                {
                    name: "Finishes",
                    items: [
                        {
                            name: "Buttercream",
                            image: "choices/buttercream.jpg"
                        },
                        {
                            name: "Semi naked",
                            image: "choices/buttercream.jpg"
                        },
                        {
                            name: "Textured buttercream",
                            image: "choices/buttercream.jpg"
                        },
                        {
                            name: "Fondant",
                            image: "choices/fondant.jpg"
                        },
                        {
                            name: "Fondant - lustre",
                            image: "choices/fondant.jpg"
                        }
                    ]
                },
                {
                    name: "Flavours",
                    items: flavours
                },
                {
                    name: "Decoration",
                    items: [
                        {
                            name: "Topper",
                            image: "choices/topper.jpg"
                        },
                        {
                            name: "Chocolate drips",
                            image: "choices/chocolate-drips.jpg"
                        },
                        {
                            name: "Coloured drips",
                            image: "choices/coloured-drips.jpg"
                        },
                        {
                            name: "Fondant flowers",
                            image: "choices/fondant-flowers.jpg"
                        },
                        {
                            name: "Fresh flowers",
                            image: "choices/fresh-flowers.jpg"
                        },
                        {
                            name: "Silk flowers",
                            image: "choices/silk-flowers.jpg"
                        },
                        {
                            name: "Fondant models",
                            image: "choices/fondant-model.jpg"
                        },
                        {
                            name: "Airbrushing",
                            image: "choices/airbrushing.jpg"
                        },
                        {
                            name: "Edible images",
                            image: "choices/edible-image.jpg"
                        },
                        {
                            name: "Plaque",
                            image: "choices/plaque.jpg"
                        },
                        {
                            name: "Ball toppers",
                            image: "choices/ball-toppers.jpg"
                        },
                        {
                            name: "Ruffles",
                            image: "choices/ruffles.jpg"
                        },
                        {
                            name: "Embossed lettering",
                            image: "choices/embossed-lettering.jpg"
                        }
                    ]
                },
                {
                    name: "Special extras",
                    items: [
                        {
                            name: "Pinata cake",
                            image: "choices/pinata.jpg"
                        },
                        {
                            name: "Money cake",
                            image: "portfolio/A-Touch-of-Pink.jpg"
                        },
                        {
                            name: "Balloon",
                            image: "choices/balloon.jpg"
                        }
                    ]
                }
            ]
        )
    }}

    {{ imageCarousel(getMatchingCakes({ product: 'wedding-cake' }, 30, 30), 'linear-gradient(to bottom, #000, #dff6ff)') }}

    <section id="pricing" style="background:{{pricing.weddingCakes.colour}}">
        <h2 style="margin-top:0;">Pricing</h2>
        {% include "wedding-cake-pricing.njk" %}
    </section>

    {% from "macros/half-image-section.njk" import halfImageSection with context %}
    {{ halfImageSection(
        'How about some wedding favours?',
        "Two or three sentences here encouraging them to buy wedding favours from us to. List some examples of what we offer and why cakes or other treats are great wedding favours.",
        "/products/wedding-favours",
        "See wedding favours",
        "portfolio/Baby-Shades.jpg",
        "Cupcakes"
    ) }}

    {# Finishes, decorations, flavours, special additions (pinata, money cake, balloon) #}
    {# Pricing #}
    {# Cupcakes on the side #}
    {# Delivery? #}
    {# Some inspiration (like birthday cakes)? #}
{% endblock %}

{% block scripts %}
    
{% endblock %}