@use "variables";
@use "mixins";

.flavours-text {
    background: #fff;
    padding: min(20px, 5%) 5% min(50px, 5%);

    p {
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

.flavours-menu-section {
    position: relative;

    .flavours-menu-container {
        
        padding-bottom: 30px;
        min-width: min(500px, 97%);
        max-width: min(1100px, 90%);
        margin: auto;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 200px;
            background: #fff;
            z-index: -1;
        }

        .flavours-menu {

            .dietary-filters {

            }

            .flavours-groups-container {
                display: flex;
                flex-direction: column;
                gap: 1em;
                
                .flavour-group {
                    
                    text-align: center;
                    padding: max(5%, 2em) 7%;
                    border: 1px solid #e6e6e6;
                    box-shadow: 0 0 4px 1px #cacaca47;
                    border-radius: 8px;

                    h2 {
                        margin: 0;
                        margin-bottom: max(5%, 2rem);
                        opacity: 0.6;
                        font-size: min(3.5em, 11vw);

                        font-family: variables.$thin-font;
                        opacity: 0.5;
                    }

                    .flavours-list {
                        display: grid;
                        grid-template-columns: repeat(2, 47%);
                        justify-content: space-between;
                        column-gap: 6%;
                        row-gap: 40px;

                        @media (min-width: 1100px) {
                            row-gap: 56px;
                        }

                        .flavour {

                            // Hide flavour if it doesn't meet filters
                            &:not(.flavour-valid) {
                                display: none;
                            }

                            .variant {

                                display: none;
                                &.variant-valid {
                                    display: block;
                                }

                                .image-container {

                                    margin-bottom: 1em;

                                    img {
                                        width: 120px;
                                        height: 120px;
                                        border-radius: 120px;
                                    }
                                }

                                h3 {
                                    margin: 0;
                                    font-size: min(2.5em, 8vw);
                                }

                                p {
                                    font-family: variables.$thin-font;
                                    margin-bottom: 0;
                                }
                            }

                            // Hide all variants after the first valid one
                            .variant-valid ~ .variant {
                                display: none;
                            }
                        }
                    }
                }   
            }
            
            .allergen-info {
                padding-top: 10%;

                p {
                    margin: 0;

                    &:first-child small {
                        font-weight: 400;
                    }
                }
            }
                     
        }
    }
}