@use "sass:math";

@use "variables";
@use "mixins";

@import 'normalize.css/normalize';

// $mobileNavMaxWidth: 750px;
$mobileNavMaxWidth: 1100px; // This value is also hardcoded in nav-menu.js

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

.smooth-scroll {
    scroll-behavior: smooth;
}

// Keep footer at bottom
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;

    main {
        flex-grow: 1;
    }
}

h1, h2, h3, h4 {
    font-family: variables.$handwriting;
}

h1 {
    font-size: 5em;
    margin: 0.6em 0;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.34em;
}

h4 {
    font-size: 2em;
}

a {
    color: inherit;
    text-decoration: underline;

    @include mixins.hover {
        text-decoration: none;
    }
}

section {
    padding: min(15%, 80px) min(5%, 80px);
}

section.intro {
    background: #fff;

    div.intro-text {
        max-width: 1100px;
        margin: auto;

        > p:first-child {
            margin-top: 0;
        }
    }

    div.service-breakdown-container {
        margin-top: 60px;
    }
}

.button {
    display: inline-block;
    background: none;
    padding: 20px;
    color: #000;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid var(--colour-pink-mid);
    font-family: variables.$handwriting;
    font-size: 1.6em;
    z-index: 1;
    min-width: 150px;
    text-align: center;

    $offset: 10px;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: -$offset;
        left: $offset;
        right: -$offset;
        bottom: $offset;
        background: #{variables.$pink}82;
        z-index: -1;
        transition: all .3s;
    }

    @include mixins.hover {
        &::before {
            transform: translate(-$offset, $offset);
        }
    }
}

.handwriting {
    font-family: variables.$handwriting;
}

.handwritten-tagline {
    @extend .handwriting;
    font-size: 2rem;
}

// Creating a mixin as this is needed in .half-image-section below
// It's used inside a media query so can't simply @extend
@mixin button-white () {
    border-color: #fff;
    color: #000;

    &::before {
        background: #ffffff82;
    }
}
.button-white {
    @include button-white()
}

.button-black {
    border-color: #000;
    color: variables.$pink;

    &::before {
        background: #00000099;
    }
}

.page-content-container {
    padding: 0 20px 30px;
    max-width: 1100px;
    margin: auto;
}

.page-intro {
    margin: 30px 0;
}

.card {

    box-shadow: 0px 0px 11px 1px #7e7e7e78;
    padding: 20px;
    width: 100%;

    &.card-pink {
        background: variables.$pink;
        color: #000;

        .card-inner {
            border-color: #000;
        }
    }

    &.card-black {
        background: #000;
        color: variables.$pink;

        .card-inner {
            border-color: variables.$pink;
        }
    }

    .card-inner {
        border-width: 2px;
        border-style: solid;
        padding: 20px;
        width: 100%;
    }

    @media only screen and (max-width: $mobileNavMaxWidth) {
        padding: 10px;

        .card-inner {
            padding: 10px;
        }
    }
}

.pricing-table {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    border-collapse: collapse;

    tr:nth-child(odd) {
        background: #fff6;
    }
    
    th {
        background: #fff;
    }

    th, td {
        border: 1px solid #e6e6e6;
        padding: 5px;
        width: 33%;
    }
}

/* -------------------------------------------------------------------------- */
/*                                   Colours                                  */
/* -------------------------------------------------------------------------- */

:root {
    --colour-pink: variables.$pink;

    --colour-beige-light: #ffefcb;
    --colour-blue-light: #dff6ff;
    --colour-blue-mid: #ace7ff;
    --colour-blue-dark: #6eb5ff;
    --colour-green-light: #e2ffd1;
    --colour-green-dark: #a5de9c;
    --colour-lemon-light: #f6f3a9;
    --colour-orange-light: #ffdfba;
    --colour-orange-dark: #fca669;
    --colour-pink-light: #ffe8e8;
    --colour-pink-mid: #f9bbb9;
    --colour-pink-dark: #ffabab;
    --colour-pink-bright: #ffb3c6;
    --colour-purple-light: #fbe4ff;
    --colour-purple-dark: #c5a3ff;
    --colour-red-dark: #fd8a8a;
    --colour-turquoise-dark: #82e1cb;
    --colour-yellow-light: #fff7cf;
    --colour-yellow-dark: #f8df81;
}

/* -------------------------------------------------------------------------- */
/*                             Header and nav menu                            */
/* -------------------------------------------------------------------------- */

$logoDiameter: 130px;
$headerHeight: 50px;
$desktopLinkWidth: 100px;
$submenuListWidth: 200px;
$submenuGridWidth: 450px;
header {
    height: $headerHeight;
    width: 100%;
    color: variables.$pink;
    z-index: 100;

    nav {
        height: 100%;
        width: 100%;
    }

    .logo-container {
        width: $logoDiameter !important;
        height: 100%;
        position: relative;

        .logo-background {
            background: variables.$black;
            position: absolute;
            left: 0;
            top: 5px;
            height: $logoDiameter;
            width: 100%;
            z-index: 1;
            border-radius: $logoDiameter;
        }
    }
    
    .header-contact-link {
        border: 1px solid #FFF;
        color: #FFF !important;
        font-family: 'Lato', sans-serif !important;
        font-size: 1.2rem !important;
        height: 34px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 0;
        font-weight: 300;
        text-decoration: none;
        width: $desktopLinkWidth;

        // Must include color and border-color in transition
        transition: all .3s;

        @include mixins.hover {
            border-color: variables.$pink;
            color: variables.$pink !important;
        }            
    }

    #desktop-nav-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #0007;
        z-index: -2;
    }

    #mobile-nav {
        display: none;
        height: $headerHeight;
        justify-content: center;
        align-items: center;
        position: relative;
        border-bottom: 1px solid variables.$pink;
        background: variables.$black;
        
        .hamburger {
            background: none;
            padding: 0;
            margin: 0;
            border: none;
            cursor: pointer;
            position: absolute;
            left: 10%;

            .hamburger-box {
                width: 40px;
                height: 24px;
                display: inline-block;

                .hamburger-inner {

                    @mixin line {
                        width: 40px;
                        height: 4px;
                        background-color: variables.$pink;
                        border-radius: 4px;
                        position: absolute;
                        display: block;
                    }
                    
                    @include line;
                    top: 50%;
                    margin-top: -2px;
                    transition: transform (.22s) cubic-bezier(.55,.055,.675,.19);

                    &::before {
                        top: -10px;
                        content: "";
                        @include line;
                        transition: top (.1s) ease-in (.25s);
                    }

                    &::after {
                        bottom: -10px;
                        content: "";
                        @include line;
                        transition: bottom (.1s) ease-in (.25s),transform (.22s) cubic-bezier(.55,.055,.675,.19);
                    }
                }
            }
        }

        .header-contact-link {
            position: absolute;
            right: 5%;
        }
    }

    #header-scrollable {
        height: 100%;
    }

    #main-links {
        margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        border-bottom: 1px solid variables.$pink;
        background: variables.$black;

        > li {
            list-style-type: none;
            height: 100%;
            width: $desktopLinkWidth;        
            transition: color .3s;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            position: relative;
            
            @include mixins.hover {
                color: #fff;
            }

            > a, button {
                font-family: variables.$handwriting;
                color: inherit;
                font-size: 1.5rem;
                width: 100%;
                height: 100%;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }

            a {
                text-decoration: none;
            }

            button {
                background: none;
                border: none;
                padding: 0;
                z-index: 1;

                &::after {
                    content: "";
                    margin-left: 12px;
                    margin-bottom: 8px;
                    display: block;
                    width: 8px;
                    height: 8px;
                    border-bottom: 2px solid currentColor;
                    border-right: 2px solid currentColor;
                    transform-origin: 65% 65%;
                    transition: transform .3s;
                    transform: rotateZ(45deg);
                }
            }

            .submenu {
                display: none;
                position: absolute;
                top: calc(100% + 1px); // Allow for border
                color: variables.$black;
                border-radius: 0 0 10px 10px;
                z-index: -1;

                ul {
                    padding: 0;
                    list-style-type: none;
                }

                @keyframes enter {
                    from {
                        transform: translateY(-100px);
                        opacity: 0;
                    }

                    to {
                        opacity: 1;
                    }
                }

                animation-name: enter;
                animation-duration: .5s;
                animation-fill-mode: forwards;
            }

            &.submenu-list .submenu {
                width: $submenuListWidth;
                padding: 20px 10px;
                background: #fff;

                ul {
                    text-align: center;

                    li {
                        width: 100%;

                        &:not(:first-child) {
                            margin-top: 16px;
                            padding-top: 16px;
                            position: relative;

                            &::before {
                                content: "";
                                width: 20%;
                                max-width: 50px;
                                position: absolute;
                                top: 0;

                                // Position centrally no matter the width
                                left: 50%;
                                transform: translateX(-50%);

                                border-top: 1px solid rgb(182, 182, 182);
                                display: block;
                            }
                        }

                        a {
                            font-family: 'Open Sans', sans-serif;
                            font-size: 1.1rem;

                            @media (hover: hover) {
                                    
                                position: relative;
                                padding: 0 .25rem;

                                &::before {
                                    content: "";
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    background: variables.$pink;
                                    top: 0;
                                    left: 0;
                                    transform-origin: right;
                                    transform: scaleX(0);
                                    transition: transform .25s ease-in-out;
                                    z-index: -1;
                                }

                                &:hover::before {
                                    transform-origin: left;
                                    transform: scaleX(1);
                                }
                            }
                        }
                    }
                }                
            }

            &.submenu-grid .submenu {
                width: $submenuGridWidth;
                background: #f4f4f4;
                overflow: hidden;
                
                ul {
                    padding: 5px 10px;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: auto;
                    gap: 10px;

                    li {
                        height: 60px;
                        width: 100%;

                        a {
                            font-family: 'Open Sans', sans-serif;
                            width: 100%;
                            height: 100%;
                            background: #fff;
                            border: 1px solid #ededed;
                            border-radius: 5px;
                            padding: 5px;
                            display: grid;
                            grid-template-columns: 50px 1fr;
                            grid-template-rows: 100%;
                            gap: 15px;
                            align-items: center;
                            box-shadow: 0 1px 6px rgba(0,0,0,0.09);
                            transition: box-shadow .2s;

                            picture {
                                width: 100%;
                                height: 100%;
                            }

                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: 10px;
                            }

                            span {
                                font-size: .9rem;
                                font-weight: 400;
                            }

                            &:focus-visible {
                                box-shadow: 0 12px 32px rgba(0,0,0,0.15);
                            }

                            @media (hover: hover) {
                                &:hover {
                                    box-shadow: 0 12px 32px rgba(0,0,0,0.15);
                                }
                            }

                            &.christmas {
                                $dark-red: #e52836;
                                $light-red: #ff4a4a;
                                background: linear-gradient(44deg,  $dark-red 0,  $dark-red 10%,  $light-red 10%,  $light-red 20%,  $dark-red 20%,  $dark-red 30%,  $light-red 30%,  $light-red 40%,  $dark-red 40%,  $dark-red 50%,  $light-red 50%,  $light-red 60%,  $dark-red 60%,  $dark-red 70%,  $light-red 70%,  $light-red 80%,  $dark-red 80%,  $dark-red 90%,  $light-red 90%,  $light-red 100%);
                                color: #fff;
                                position: relative;

                                &::before {
                                    content: "";
                                    position: absolute;
                                    width: calc(100% - 6px);
                                    height: calc(100% - 6px);
                                    top: 2px;
                                    border-radius: 3px;
                                    left: 2px;
                                    border: 1px dashed white;
                                }
                            }
                        }
                    }
                }
                
                .submenu-grid-more-link {
                    background: #fff;
                    width: 100%;
                    padding: 10px 8px;
                    text-align: center;
                    font-size: .9rem;
                    font-weight: 400;
                    margin-top: 10px;
                    border-top: 1px solid #ededed;
                    display: block;
                    box-shadow: 0 0 6px rgba(0,0,0,0.06);

                    &::after {
                        content: "\2192";
                        margin-left: 5px;
                        transition: transform .2s;
                        display: inline-block;
                    }

                    &:focus-visible::after {
                        transform: translateX(5px);
                    }

                    @media (hover: hover) {
                        &:hover::after {
                            transform: translateX(5px);
                        }
                    }
                }
            }
        }

        // Handle occasions dropdown whose submenu would be behind logo without this
        > li:nth-child(5).submenu-list .submenu, > li:nth-child(5).submenu-grid .submenu {
            left: -4.5vw;
        }
    }

    #mobile-nav-image {
        width: 100%;
        display: none;
        justify-content: space-between;
        align-items: flex-end;
        padding: 2.5vw;

        img {
            height: 130px;
            max-height: 100%;
            width: auto;
        }
    }
}

// Submenu open
header[data-nav-submenu] {
    #desktop-nav-overlay {
        display: block;
    }

    @for $i from 1 through 6 {
        &[data-nav-submenu="#{$i}"] {
            #main-links > li:nth-child(#{$i}) {

                // Make hover area same width as submenu when open
                &::before {
                    content: "";
                    position: absolute;
                    height: 100%;
                    top: 0;
                }
                &.submenu-list::before {
                    width: $submenuListWidth;
                    left: 0 - math.div($submenuListWidth - $desktopLinkWidth, 2);
                }
                &.submenu-grid::before {
                    width: $submenuGridWidth;
                    left: 0 - math.div($submenuGridWidth - $desktopLinkWidth, 2);
                }
            
                > button::after {
                    transform: rotateZ(-135deg);
                }

                .submenu {
                    display: block;
                }

                @media only screen and (max-width: $mobileNavMaxWidth) {
                    > a, button {
                        border-bottom: 1px solid grey;
                    }
                }
            }
        }
    }
}

// Mobile nav menu
@media only screen and (max-width: $mobileNavMaxWidth) {

    header {

        #desktop-nav-overlay {
            display: none !important;
        }

        #mobile-nav {
            display: flex;
        }

        #main-links {
            display: none;

            > li {

                width: 100%;
                height: auto;
                flex-direction: column;

                > a, button {
                    font-size: 2rem;
                    padding: 20px;
                    border-top: 1px solid grey;
                    height: auto;
                    
                }
                
                // Add bottom border to last visible <li>
                &:nth-child(6) {
                    > a, button {
                        border-bottom: 1px solid grey;
                    }
                }

                &::before {
                    content: none !important;
                }

                .submenu {
                    position: static;
                    z-index: 0;
                    width: 100% !important;
                    border-radius: 0;
                    animation: none;
                }

                &.submenu-list .submenu {
                    background: #f4f4f4;
                }

                &.submenu-grid .submenu {

                    padding: 10px;
                    
                    ul {
                        grid-template-columns: 100%;
                        padding: 0;
                    }

                    .submenu-grid-more-link {
                        border-radius: 5px;
                    }

                }
            }

            
        }
    }

    // Mobile menu open
    body.nav-open {

        overflow: hidden;
        // Fixed position makes mobile browser UA components appear expanded and stops page being scrollable
        // This also resets scroll position but to click nav icon they must be very close to top anyway
        position: fixed;
        // iOS Safari sets width to ~3000+px with fixed positioning without this
        width: 100%;

        header {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            background: variables.$black;

            nav {
                display: grid;
                grid-template-rows: ($logoDiameter + 30px) minmax(0, 1fr);
                grid-template-columns: 100%;
            }

            #mobile-nav {
                .hamburger {
                    .hamburger-box .hamburger-inner {
                        transition-delay: .12s;
                        transition-timing-function: cubic-bezier(.215,.61,.355,1);
                        transform: rotate(225deg);

                        &::before {
                            top: 0;
                            transition: top (.1s) ease-out,opacity (.1s) ease-out (.12s);
                            opacity: 0;
                        }

                        &::after {
                            bottom: 0;
                            transition: bottom (.1s) ease-out,transform (.22s) cubic-bezier(.215,.61,.355,1) (.12s);
                            transform: rotate(-90deg);
                        }
                    }
                }
            }

            #header-scrollable {
                max-height: 100%;
                overflow-y: auto;
                display: flex;
                flex-direction: column;
            }

            #main-links {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                height: auto;
                width: 100%;
                border: none;
                flex-grow: 1;

                #desktop-header-contact-link, .logo-container {
                    display: none !important;
                }
            }
            
            #mobile-nav-image {
                display: flex;
            }
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                              Bottom panel CTA                              */
/* -------------------------------------------------------------------------- */

section#bottom-panel-cta {

    position: relative;
    padding: 50px 20px;


    > div {
        color: #fff;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3em;
        
        // Show more of background
        @media (min-width: 1300px) {
            min-height: 370px;
        }
    }

    h3 {
        font-size: 4em;
        margin: 0;
        text-align: center;
        
        sup {
            font-family: inherit;
        }
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(.5);
        z-index: -1;
    }
}

/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */

footer {
    background: variables.$black;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #fff;//variables.$pink;
    gap: 30px 40px;

    > div {
        width: 25%;
        text-align: center;
        min-width: 180px;
        max-width: 250px;
    }

    // There are a lot of links in footer (and they are obviously links)
    // so best to invert underline so it doesn't look so cluttered
    a {
        text-decoration: none;

        @include mixins.hover {
            text-decoration: underline;
        }
    }

    h3 {
        color: variables.$pink;
        font-size: 150%;
        margin: 0 0 10px;
    }

    p {
        margin: 0;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .contact-grid {
        display: grid;
        grid-template-columns: min-content min-content;
        column-gap: 1rem;
        row-gap: 0.5rem;
        justify-content: center;
        align-items: center;

        p {
            margin: 0;
        }
    }

    .image-row {
        width: 100%;
        max-width: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px 3%;
        
        img {
            height: 150px;
            width: auto;
        }
    }

    .copyright-container {
        width: 100%;
        max-width: none;
    }
    
    .credit-container {
        width: 100%;
        max-width: none;
        display: flex;
        flex-direction: column;
        gap: 8px;

        a {
            display: inline-flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 5px;
            text-decoration: none;

            svg {
                color: variables.$pink;
            }
        }
        
    }

    @media only screen and (min-width: 1200px) {
        padding: 30px;
    }
}

/* -------------------------------------------------------------------------- */
/*                                   Macros                                   */
/* -------------------------------------------------------------------------- */

.page-title {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    
    // Allow for logo
    padding-top: $logoDiameter - $headerHeight;

    h1 {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-family: variables.$handwriting;
        color: variables.$pink;
        text-align: center;
        text-shadow: 1px 1px 0px variables.$pink, 2px 2px 0px #{variables.$pink}82, 2px 2px 0px #909090cc;
    }

    &.small-text {
        h1 {
            display: flex;
            flex-direction: column;
            gap: 8px;

            span {
                font-size: 2rem;
                color: #fff;
                text-shadow: none;
            }
        }
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    &.darkened {
        img {
            filter: brightness(0.6);
        }
    }
}

.fixed-background-image {
    img {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100vh;
        min-height: 100lvh;

        z-index: -2;
    }
}

.grid-menu-links {
    
    padding: 0 20px;

    h2 {
        text-align: center;
        margin-bottom: 0;
    }

    > p {
        text-align: center;
    }

    div.links-container {
        display: flex;
        flex-wrap: wrap;
        margin: 30px auto;
        max-width: 1200px;
        justify-content: center;
        gap: min(3vw, 30px);

        a {
            display: block;
            width: 20vw;
            min-width: 160px;
            max-width: 280px;
            aspect-ratio: 1;
            
            border-radius: 20px;
            box-shadow: 0 0 4px 0 #00000030, inset 0 0 4px 0 #00000030;
            color: #fff;
            text-decoration: none;
            text-align: center;
            overflow: hidden;

            div.link-inner {
                transition: all .5s;
                display: grid;
                grid-template-rows: 50% 1fr;
                height: 100%;

                h3 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    margin: 0;
                    text-shadow: 0 0 4px #00000036;
                    font-size: min(max(3vw, 2em), 3em);
                    padding: 0 10%;
                    line-height: 90%;
                }
                
                img {
                    width: 80%;
                    transition: all .5s;
                    transform-origin: top;
                }
            }

            @include mixins.hover {
                div.link-inner {
                    transform: translateY(calc(10px - 50%));

                    img {
                        transform: scale(1.12);
                    }
                }
            }
        }
    }
}

.image-slideshow {
    width: 100%;
    height: 200px;

    @media (max-width: 800px) {
        height: 150px;
    }

    .swiper {
        width: 100%;
        height: 100%;
        
        opacity: 0;
        transition: opacity .3s;

        &.swiper-initialized {
            /* purgecss ignore current */
            opacity: 1;
        }

        .swiper-slide {
            width: min-content;
        }

        .image-container {
            height: 100%;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}

.design-choices{
    background: #000;
    color: #fff;
    text-align: center;

    h2 {
        margin: 0;
    }

    > p {
        min-width: min(400px, 90%);
        max-width: 60%;
        margin: 1em auto;
    }

    $categoryMargin: min(max(35px, 5%), 60px);

    .category {
        margin-top: $categoryMargin;

        &::before {
            content: "";
            display: block;
            width: 70%;
            height: 2px;
            margin: 0 auto;
            background: linear-gradient(to right, #fff0, #fff, #fff0);
        }

        h3 {
            font-size: 2.5em;
            margin: $categoryMargin 0;
        }

        .items {

            $columnGap: max(30px, 3%);
            $minPerRow: 3;

            display: flex;
            flex-wrap: wrap;
            column-gap: $columnGap;
            justify-content: center;
            
            row-gap: 40px;
            @media (max-width: 1000px) {
                row-gap: 30px;
            }

            > div {
                width: min(210px, calc((100% / $minPerRow) - (($minPerRow - 1)/$minPerRow) * $columnGap));
                display: flex;
                flex-direction: column;
                gap: 10px;

                > * {
                    margin: 0;
                }

                $imgSize: min(100%, 150px);
                img {
                    width: $imgSize;
                    aspect-ratio: 1;
                    border-radius: 100%;
                    object-fit: cover;
                }

                h4 {
                    font-size: min(2em, 7vw);
                }

                &.more {

                    position: relative;

                    img {
                        filter: brightness(0.5);
                    }

                    div.overlay-text {
                        
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;

                        // Make text appear more centred
                        padding: 5px 5px 0 0;

                        span {
                            font-family: variables.$handwriting;
                            font-size: min(3em, 10vw);
                            display: flex;
                            width: $imgSize;
                            aspect-ratio: 1;
                            justify-content: center;
                            align-items: center;
                            line-height: 0;
                            margin: 0 auto;
                        }
                    }
                }
            }

        }

        .see-more-link {
            display: block;
            font-size: 1.1em;
            margin-top: $categoryMargin;
        }
    }
}

.service-breakdown {

    $gap: min(6vw, 50px);

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: $gap;
    width: 100%;

    .service-element {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 200px;
        max-width: calc(50% - $gap/2);

        .service-illustration {
            width: 70%;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: variables.$pink;

            svg {
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
                flex-grow: 1;
            }
        }

        .service-description {
            
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 15px;

            > span:first-child {
                font-family: variables.$handwriting;
                font-size: 1.9em;
            }

            > span:last-child {
                color: grey;
                font-size: 90%;
            }
        }
    }
}

section.half-image-section {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    align-items: center;
    padding: 0;

    &.tall {
        height: 100lvh;
    }
    &.inverse .half-image {
        grid-column-start: 2;
        grid-row-start: 1;
    }

    .half-image {

        height: 100%;
        overflow: hidden;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .half-text {
        padding: 15% 10%;

        h2 {
            margin-top: 0;
        }

        .link {
            margin-top: 50px;
        }
    }

    @media (max-width: 900px) {
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        height: auto !important;

        &:not(.tall) {
            
            .half-image {
                height: auto;
                padding: 3%;

                img {
                    position: relative;
                    height: auto;
                    border-radius: 15px;
                }
            }
            
            .half-text {
                padding: 5% 10% 10%;
            }
        }

        &.tall {
            .half-image {
                height: 70lvh;
            }

            .half-text {
                padding: 15% 10% 20%;
            }
        }

     
        // Undo inverse styles
        &.inverse .half-image {
            grid-column-start: auto;
            grid-row-start: auto;
        }
    }
}

section.products-range {
    
    $aspect-ratio: 0.75;
    $border-radius: 20px;
    $max-product-width: 430px;
    $column-gap: 20px;

    background: linear-gradient(170deg, #fff 0%, #fff 10%, #{variables.$pink}66 50%, #fff 90%, #fff 100%), #fff;

    .products {

        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        justify-content: center;
        gap: $column-gap;

        .products-column-left, .products-column-right {
            display: flex;
            flex-direction: column;
            gap: 70px;
            width: 100%;
            max-width: $max-product-width;
        }

        .products-column-right {
            padding-top: 4em;
        }

        .products-intro {
            width: 100%;
            padding-bottom: 4em;
            border-bottom: 1px solid #c9c9c9;
            color: #575757;

            p {
                margin-bottom: 0;
            }

            p:first-child {
                margin-top: 0;
            }
        }

        .product {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            

            .product-image {
                width: 100%;
                aspect-ratio: $aspect-ratio;
                border-radius: $border-radius;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .product-details {

                padding: 0 10px;
                text-align: left;

                .product-details-top-row {

                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;
                    gap: 10px 10px;

                    .product-name {
                        font-family: variables.$handwriting;
                        font-size: 2.5em;
                    }

                    .product-price {
                        font-weight: 400;
                    }
                }

                .product-description {
                    margin-top: 1em;

                    * {
                        margin: 0;
                        color: #6c6c6c;
                    }
                }
            }        
        }

        .products-summary-card {
            background: #000;
            color: #fff;
            width: 100%;
            aspect-ratio: $aspect-ratio;
            border-radius: $border-radius;
            padding: 0 10%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .summary-row {
                display: grid;
                grid-template-columns: 50px 1fr;
                grid-template-rows: auto;
                align-items: center;
                gap: 10%;

                .summary-row-icon {
                    width: 100%;
                    aspect-ratio: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg {
                        width: auto;
                        height: auto;
                        max-width: 100%;
                        max-height: 100%;
                        flex-grow: 1;
                    }
                }

                .summary-row-text {
                    text-align: left;
                    display: flex;
                    flex-direction: column;

                    .summary-row-title {
                        font-family: variables.$handwriting;
                        font-size: 2em;
                    }

                    .summary-row-description {
                        // font-family: variables.$thin-font;
                        font-size: 90%;
                        color: #bbb;
                    }
                }
            }
        }
    }

    @media (max-width: (2 * $max-product-width + $column-gap)) {
        .products {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            gap: 40px;

            max-width: $max-product-width;
            margin: auto;
            
            .products-column-left, .products-column-right {
                display: contents;
            }

            .products-intro {
                padding: 0;
                border: none;
            }

            .products-summary-card {
                order: 999;
            }
        }        
    }
}

section.testimonials {
    background: variables.$pink;
    padding-right: 0;
    padding-left: 0;

    // Left and right padding applied to each item in slideshow
    $itemHorizontalPadding: 45px;

    .testimonials-slideshow {

        // Needs a fixed height for slideshow to work
        height: 300px;

        --swiper-pagination-top-margin: 5px;
        --swiper-pagination-bullet-size: 8px;

        @media (hover: none) {
            // Use larger bullets on touch devices
            --swiper-pagination-top-margin: 10px;
            --swiper-pagination-bullet-size: 16px;
            --swiper-pagination-bullet-horizontal-gap: 8px;
        }

        .swiper-wrapper {
            // Need to allow for pagination bullets
            height: calc(100% - var(--swiper-pagination-top-margin) - var(--swiper-pagination-bullet-size));
        }

        .swiper-button-prev, .swiper-button-next {
            // Make arrow buttons white
            color: #fff;
        }

        // Style pagination bullets
        .swiper-pagination {
            position: static;
            margin-top: var(--swiper-pagination-top-margin);

            // Ensure height is purely just the bullets
            line-height: 0;

            .swiper-pagination-bullet-active {
                /* purgecss ignore current */
                background: #fff;
            }
        }

        .item {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 $itemHorizontalPadding 10px;
            gap: 40px;
            overflow: hidden;

            // Item displayed with horizontal layout on desktop

            .image {
                max-width: 40%;
                height: 100%;
                display: flex;
                justify-content: center;
                overflow: hidden;
                
                // --aspect-ratio variable gets set in style attribute
                // This makes sure div is no wider than image on Safari and Firefox
                aspect-ratio: var(--aspect-ratio);

                picture {
                    display: flex;
                    justify-self: center;
                    align-items: center;
                }
                
                img {
                    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                }
            }

            .quote {
                width: 40%;
                color: #6d6d6d;

                @include mixins.testimonial-quote;
            }
        }
    }

    // For narrow screens, show item vertically with image above quote
    @media only screen and (max-width: 900px) {

        .testimonials-slideshow {
            height: 400px;

            .item {
                flex-direction: column;
                gap: 10px;

                /*
                    Layout is slightly complex.
                    We want text to take up whatever vertical height it needs.
                    Then display image as large as possible in remaining space.
                    However if those two combined don't take up full height, centre them vertically.

                    We achieve this by applying a small height on image that we know would always be safe,
                    and adding flex grow to it so that it expands as much as possible.
                    
                    However, depending on the aspect ratio of the image, the containing div may grow to be far
                    taller than the image. This would cause the text to be pushed to bottom of slide with
                    a large gap above it to the image. To solve this we put a max-height on the image container
                    based on its aspect ratio.
                */
                .image {
                    max-width: 100%;

                    // Max height = max width / aspect ratio
                    // --aspect-ratio variable gets set in style attribute
                    // Max width = Screen width - item left padding - item right padding
                    max-height: calc((100vw - 2 * $itemHorizontalPadding) / var(--aspect-ratio));
                    width: auto;
                    height: 20%;
                    flex-grow: 1;
                }

                .quote {
                    width: 100%;
                }
            }
        }
    }

    // Can allow a greater gap between arrow buttons and screen edge on wide devices
    @media only screen and (min-width: 1150px) {

        .swiper-button-prev {
            left: 25px;
        }

        .swiper-button-next {
            right: 25px;
        }
    }


    .testimonials-link-container {
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }
}

/* -------------------------------------------------------------------------- */
/*                                  Partials                                  */
/* -------------------------------------------------------------------------- */

section.featured-in {

    background: #000;
    color: #fff;

    > div {

        display: grid;
        grid-template-columns: 1fr 35%;
        gap: 40px;
        max-width: 1100px;
        justify-content: center;
        align-items: center;
        margin: auto;

        .column-left {

            h2 {
                margin:0 0 0.5em;
                font-size: 2.5em;
            }

            .logo {
                width: min(400px, 90%);
                margin: auto;

                img {
                    width: 100%;
                }
            }

            p {
                max-width: 900px;
                margin-left: auto;
                margin-right: auto;

                &:first-of-type {
                    margin-top: 40px;
                }
            }

            .rosettes {
                $gap: 40px;

                width: 100%;
                display: flex;
                justify-content: center;
                gap: $gap;
                margin-top: 40px;

                picture {
                    width: 210px;
                    max-width: calc(45% - ($gap / 2));
                }

                img {
                    width: 100%;
                }
            }
        }

        .column-right {
            img {
                width: 100%;
            }
        }

        .mobile-image {
            display: none;
            width: 70%;
            max-width: 400px;
            margin: 30px auto 0;

            img {
                width: 100%;
            }
        }

        @media (max-width: 800px) {

            display: block;

            .column-right {
                display: none;
            }

            .mobile-image {
                display: block;
            }
        }
    }
}

ul.venue-list {
    padding: 0 10px;
    list-style-type: none;
    max-width: 800px;
    margin: 2em auto 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: center;

    li {
        margin: 0;
        width: 20%;
        min-width: min(40%, 200px);
        flex-grow: 1;
        flex-basis: 0;

        a {

            text-decoration: none;

            span {
                display: block;

                &.venue-name:not(:hover) {
                    text-decoration: underline;
                }

                &.venue-location {
                    color: grey;
                    font-style: italic;
                    font-size: 90%;
                    margin-top: 0.5em;
                }
            }
        }
    }
}