@use "variables";
@use "mixins";

#header-video {
    width: 100%;
    background: #fff;

    video {
        width: 100%;
        max-height: calc(100vh - 50px);
        object-fit: cover;
    }
}

#about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 40px;
    background: linear-gradient(to bottom, variables.$pink, #fff);

    picture {
        width: 40%;
        min-width: 200px;
        max-width: min(100%, 30vh);

        img {
            width: 100%;
            border-radius: 100%;
        }
    }

    > div {
        width: 40%;
        min-width: min(100%, 350px);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;        

        h1 {
            font-family: variables.$handwriting;
        }
    }
}

#portfolio {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 5vw;
    background: #fff;

    #grid {
        display: grid;
        width: min(50vw, 50vh);
        min-width: min(100%, 600px);
        max-width: 100%;
        aspect-ratio: 1 / 1;

        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: repeat(3, minmax(0, 1fr));
        gap: 10px;

        overflow: hidden;
        margin: auto;

        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }
    }
}

#contact {

    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;

    // Background image
    img {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
    }

    .contact-card {
        max-width: 1400px;
        min-width: min(1000px, 90%);
        display: grid;
        grid-template-columns: 50% 50%;
        box-shadow: 0px 0px 11px 1px #7e7e7e78;

        $card-padding: 20px;
        $border-width: 2px;

        // Background of first half
        $colour1: variables.$pink;
        // Background of second half
        $colour2: #000;

        h2, h3 {
            font-family: variables.$handwriting;
            margin: 0;
            text-align: center;
        }

        // Heading in left card
        h2 {
            font-size: 3em;
            color: $colour2;
        }

        // Heading in right card
        h3 {
            font-size: 2.34em;
            margin: 30px 0 5px;
            color: $colour1;

            &:first-child {
                margin-top: 0;
            }
        }

        a {
            color: #fff;
        }

        > div > div {
            border: $border-width solid $colour2;
            padding: $card-padding;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .contact-card-first-half {
            padding: $card-padding 0 $card-padding $card-padding;
            background: $colour1;

            .contact-card-first-half-inner {
                border-right: none;
            }
        }

        .contact-card-second-half {
            padding: $card-padding $card-padding $card-padding 0;
            background: $colour2;

            .contact-card-second-half-inner {
                border-color: $colour1;
                border-left: none; 
            }
            
        }

        @media only screen and (max-width: 650px) {
            grid-template-columns: auto;
            grid-template-rows: auto auto;

            .contact-card-first-half {
                padding: $card-padding $card-padding 0;

                .contact-card-first-half-inner {
                    border-right: $border-width solid $colour2;
                    border-bottom: none;
                }
            }

            .contact-card-second-half {
                padding: 0 $card-padding $card-padding;

                .contact-card-second-half-inner {
                    border-left: $border-width solid $colour1;
                    border-top: none;
                }
            }
        }
    }
}

#testimonials {
    background: variables.$pink;
    padding: 20px 0;

    .swiper {

        height: 300px;

        .swiper-wrapper {
            height: calc(100% - 13px);
        }

        .swiper-button-prev, .swiper-button-next {
            color: #fff;
        }

        .swiper-pagination {
            position: static;
            margin-top: 5px;

            .swiper-pagination-bullet-active {
                background: #fff;
            }
        }

        

        .item {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 45px 10px;
            gap: 40px;
            overflow: hidden;

            .image {
                max-width: 40%;
                height: 100%;
                display: flex;
                justify-content: center;
                // align-items: center;

                picture {
                    display: flex;
                    justify-self: center;
                    align-items: center;
                }
                
                img {
                    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                }
            }

            .quote {
                width: 40%;
                color: #6d6d6d;

                @include mixins.testimonial-quote;

                // blockquote {
                //     text-align: center;
                //     quotes: '\201c' '\201d';
                //     position: relative;
                //     margin: 0;
                //     padding: 15px;
                //     font-style: italic;
                //     font-weight: 400;

                //     &::before, &::after {
                //         position: absolute;
                //         color: white;
                //         font-family: 'Licorice', cursive;
                //         font-size: 300%;
                //     }

                //     &::before {
                //         content: open-quote;
                //         top: 0;
                //         left: 0;
                //     }

                //     &::after {
                //         content: close-quote;
                //         bottom: 0;
                //         right: 0;
                //         line-height: 0px;
                //     }
                // }

                // span {
                //     display: block;
                //     text-align: right;
                //     padding-right: 10px;
                // }
            }
        }
    }

    @media only screen and (max-width: 900px) {

        .swiper {
            height: 400px;

            .item {
                flex-direction: column;
                gap: 20px;

                .image {
                    max-width: none;
                    max-height: none;
                    width: auto;
                    height: 40%;
                    flex-grow: 1;
                }

                .quote {
                    width: 100%;
                }
            }
        }
    }

    @media only screen and (max-width: 700px) {

        .swiper {
            height: 600px;
        }
    }

    @media only screen and (min-width: 1150px) {

        .swiper-button-prev {
            left: 25px;
        }

        .swiper-button-next {
            right: 25px;
        }
    }
}