@use "variables";
@use "mixins";

#header-video {
    width: 100%;
    height: calc(100vh - 50px);
    height: calc(100svh - 50px);
    background: #000;
    position: relative;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.5);

        &#landscape-video {
            display: none;
        }

        @media (orientation: landscape) {
            &#portrait-video {
                display: none;
            }

            &#landscape-video {
                display: block;
            }
        }
    }

    .header-video-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        span.main-text {
            display: block;
            max-width: 85%;
            font-size: max(12vw, 100px);
            text-align: center;
            margin: 0;
            font-family: variables.$handwriting;
            color: variables.$pink;
            text-shadow: 0 0 4px #ffffff78;
            line-height: 80%;

            @keyframes fade-in {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }

            animation-name: fade-in;
            animation-duration: 1s;
            animation-delay: 1s;
            animation-fill-mode: both;

            
            span {
                font-family: inherit;
                position: relative;

            // Christmas hat
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: min(-1.9vw, -15px);
                    left: min(-1.9vw, -15px);
                    width: max(8.8vw, 70px);
                    height: max(6.2vw, 50px);
                    background: url('/images/christmas/santa-hat.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    transform: rotateZ(-18deg);
                }
            }
        }

        span.text-divider {
            display: block;
            width: 85vw;
            height: 1px;
            background: #fff;
            margin-top: 0.5vw;
            margin-bottom: 1vw;

            @keyframes in-to-out {
                from {
                    transform: scaleX(0);
                }
                to {
                    opacity: scaleX(1);
                }
            }

            animation-name: in-to-out;
            animation-duration: 1s;
            animation-delay: 2s;
            animation-fill-mode: both;
        }

        span.secondary-text {
            display: block;
            max-width: 85%;
            text-align: center;
            font-size: max(2vw, 30px);
            margin: 0;
            font-family: 'Lato', sans-serif;
            

            @keyframes fade-in-up {
                from {
                    opacity: 0;
                    transform: translateY(20px);
                }
                to {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            animation-name: fade-in-up;
            animation-duration: 0.8s;
            animation-delay: 2.5s;
            animation-fill-mode: both;
        }

        a.scroll-down-button {
            position: absolute;
            top: 82%;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            text-decoration: none;
            
            // SVG container
            div {
                width: 4vw;
                min-width: 60px;
                height: 4vw;
                min-height: 60px;
                border: 1px solid #fff7;
                border-radius: 100px;
                padding: max(1vw, 15px);
                transition: all .3s;
            }
            
            @include mixins.hover {
                div {
                    color: #000;
                    background: #fff;
                }
            }

            // "Scroll down" text
            span {
                font-size: 70%;
            }

            // Animation
            
            @keyframes fade-in-down {
                from {
                    opacity: 0;
                    transform: translateY(-20px);
                }
                to {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            animation-name: fade-in-down;
            animation-duration: 0.8s;
            animation-delay: 3.5s;
            animation-fill-mode: both;
        }

        // Hide "Scroll down" button on landscape mobile as screen height is too small to fit it
        @media only screen and (max-height: 600px) {
            a.scroll-down-button {
                display: none;
            }
        }
    }
    
    #snow-particles {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    
}

#about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 40px;
    background: linear-gradient(to bottom, variables.$pink, #fff);

    picture {
        width: 40%;
        min-width: 200px;
        max-width: min(100%, 30vh);

        img {
            width: 100%;
            border-radius: 100%;
        }
    }

    > div {
        width: 40%;
        min-width: min(100%, 350px);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;        

        h1 {
            font-size: 2em;
        }
    }
}

#portfolio {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 5vw;
    background: #fff;

    #grid {
        display: grid;
        width: min(50vw, 50vh);
        min-width: min(100%, 600px);
        max-width: 100%;
        aspect-ratio: 1 / 1;

        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: repeat(3, minmax(0, 1fr));
        gap: 10px;

        overflow: hidden;
        margin: auto;

        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }
    }
}

#christmas {
    
    color: #fff;
    position: relative;
    text-align: center;

    > picture img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
        z-index: -1;
    }

    .christmas-outer-container {
        background: #cd0000;
        padding: 5px;
        border-radius: 20px;
        max-width: 1100px;
        margin: auto;

        .christmas-inner-container {
            padding: 20px 30px;
            border: 2px dashed #fff;
            border-radius: 15px;

            .christmas-contents {
                
                display: grid;
                gap: 40px 30px;
                grid-template-columns: auto auto;
                grid-template-rows: auto auto;
                grid-template-areas:
                    "text image"
                    "link image";

                .christmas-text {
                    grid-area: text;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    gap: 20px;
                    
                    h2 {
                        font-size: 2em;
                        margin: 0;
                    }

                    p {
                        margin: 0;
                    }
                }

                .christmas-collection-link {
                    grid-area: link;

                    a::before {
                        // Need to make background a bit more opaque as red background makes it too pinky
                        background: #ffffffc9;
                    }
                }

                .christmas-collection-image {
                    grid-area: image;
                    width: min(400px, 40vw);
                    min-width: min(100%, 300px);
                    margin: auto;

                    img {
                        width: 100%;
                        border-radius: 10px;
                    }
                }

                @media (max-width: 800px) {
                    grid-template-columns: 100%;
                    grid-template-rows: auto auto auto;
                    grid-template-areas:
                        "text"
                        "image"
                        "link";
                    gap: 20px;
                    padding: 10px 0;

                    .christmas-text {
                        gap: 10px;
                    }
                }
            }
        }   
    }
}

#contact {

    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;

    .contact-card {
        max-width: 1400px;
        min-width: min(1000px, 90%);
        display: flex;
        box-shadow: 0px 0px 11px 1px #7e7e7e78;

        $card-padding: 20px;
        $border-width: 2px;

        // Background of first half
        $colour1: variables.$pink;
        // Background of second half
        $colour2: #000;

        h2, h3 {
            margin: 0;
            text-align: center;
        }

        // Heading in left card
        h2 {
            color: $colour2;
        }

        // Heading in right card
        h3 {
            font-size: 2.34em;
            margin: 30px 0 5px;
            color: $colour1;

            &:first-child {
                margin-top: 0;
            }
        }

        i {
            margin-right: 10px;
            font-size: 70%;
        }

        a {
            color: #fff;
        }

        .contact-card-first-half, .contact-card-second-half {
            // Initially had .contact-card using `display: grid;` but Safari didn't like padding
            // on these two divs.
            // So instead use flex with flex-basis and flex-grow to ensure both halves are equal width.
            flex-basis: 0;
            flex-grow: 1;
            display: flex;
        }

        .contact-card-first-half .contact-card-first-half-inner, .contact-card-second-half .contact-card-second-half-inner {
            border: $border-width solid $colour2;
            padding: $card-padding;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .contact-card-first-half {
            padding: $card-padding 0 $card-padding $card-padding;
            background: $colour1;

            .contact-card-first-half-inner {
                border-right: none;
            }
        }

        .contact-card-second-half {
            padding: $card-padding $card-padding $card-padding 0;
            background: $colour2;

            .contact-card-second-half-inner {
                border-color: $colour1;
                border-left: none; 
            }
            
        }

        // Switch to vertical layout
        @media only screen and (max-width: 650px) {
            flex-direction: column;

            .contact-card-first-half {
                padding: $card-padding $card-padding 0;

                .contact-card-first-half-inner {
                    border-right: $border-width solid $colour2;
                    border-bottom: none;
                }
            }

            .contact-card-second-half {
                padding: 0 $card-padding $card-padding;

                .contact-card-second-half-inner {
                    border-left: $border-width solid $colour1;
                    border-top: none;
                }
            }
        }
    }
}