@use "variables";
@use "mixins";

section.intro {
    background: #FFF;

    padding: 20px;

    div.intro-inner {
        max-width: 1100px;
        margin: auto;
        text-align: center;

        div.cta {
            h3 {
                margin-top: 0;
            }

            padding: 20px;
        }
    }
    
}

section.occasion-links {

    padding: 0 20px;

    h2 {
        text-align: center;
        margin-bottom: 0;
    }

    > p {
        text-align: center;
    }

    div.links-container {
        display: flex;
        flex-wrap: wrap;
        margin: 30px auto;
        max-width: 1200px;
        justify-content: center;
        gap: min(3vw, 30px);

        a {
            display: block;
            width: 20vw;
            min-width: 160px;
            max-width: 280px;
            aspect-ratio: 1;
            
            border-radius: 20px;
            box-shadow: 0 0 4px 0 #00000030, inset 0 0 4px 0 #00000030;
            color: #fff;
            text-decoration: none;
            text-align: center;
            overflow: hidden;

            div.occasion-inner {
                transition: all .5s;
                display: grid;
                grid-template-rows: 50% 1fr;
                height: 100%;

                h3 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    margin: 0;
                    text-shadow: 0 0 4px #00000036;
                    font-size: max(3vw, 2em);
                    padding: 0 10%;
                    line-height: 90%;
                }
                
                img {
                    width: 80%;
                    transition: all .5s;
                    transform-origin: top;
                }
            }

            @include mixins.hover {
                div.occasion-inner {
                    transform: translateY(calc(10px - 50%));

                    img {
                        transform: scale(1.12);
                    }
                }
            }
        }
    }
}