section.intro {
    div.intro-text {
        div.cta {
            h2 {
                // Semantically needs h2 as it sits directly under the page's h1, but h3
                // size is more appropriate for the design.
                font-size: 2.34em;
                margin-top: 0;
            }

            padding: 20px;
        }
    }
}
