@use "mixins";
@use "variables";

.portfolio-grid-container {

    // Area above and to side of grid
    $grid-padding: min(30px, 3vw);

    width: 100%;
    margin: $grid-padding 0;
    padding: 0 $grid-padding;

    .portfolio-grid {

        // Grid items use absolute positioning to create masonry layout
        position: relative;
        width: 100%;

        // Items will not be shown until grid script has run
        // This ensures the grid maintains a height of at least the device height
        // so that the page doesn't start with the footer at the top
        min-height: 100vh;

        .grid-item {
            // Script will set `top` and `left` values
            position: absolute;

            // Remove button styles
            background: none;
            padding: 0;
            border: none;

            overflow: hidden;
            height: min-content;
            cursor: pointer;

            // Item fades in once grid has been set up and image has loaded
            opacity: 0;
            transition: opacity .3s;

            img {
                // Button will be set to correct aspect ratio for image
                width: 100%;
                height: 100%;

                // Zoom slightly on hover
                transition: transform .7s;

                @include mixins.hover {
                    transform: scale(1.2);
                }
            }
        }

        // Fade in only once grid set up and image has loaded
        &.grid-initialised {
            .grid-item.image-loaded {
                opacity: 1;
            }
        }
    }
}


#portfolio-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: #000000e6;
    display: none;
    grid-template-rows: min-content 1fr;
    color: #fff;

    .close-button-container {

        padding: 20px;
        display: flex;
        justify-content: flex-end;

        #modal-close {
            background: none;
            padding: 8px 15px;
            color: #fff;
            cursor: pointer;
            border: 1px solid #fff;
            transition: all .3s;

            @include mixins.hover {
                border-color: variables.$pink;
                color: variables.$pink;
            }
        }
    }

    .scrollable-container {

        height: 100%;
        max-height: 100%;
        overflow-y: auto;

        .container {
            $horizontalPadding: 5vw;

            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 $horizontalPadding;
            min-height: 100%;
            padding-bottom: 20px;
            
            gap: 50px;
            @media only screen and (max-width: 800px) {
                gap: 30px;
            }

            .images {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                #selected-image {
                    // --aspect-ratio must be set in script
                    width: min(100%, calc(60vh * var(--aspect-ratio)));
                    aspect-ratio: var(--aspect-ratio);
                    border: 1px solid variables.$pink;
                    background: #000;

                    // Safari sometimes had a gap between video and border
                    // Video covered the bottom border sometimes on Chrome
                    // This solves both
                    overflow: hidden;

                    img, video {
                        width: 100%;
                        height: 100%;
                        display: block;
                        margin: auto;

                        // Above paths seems to be able to cause odd px difference between video and containing div
                        // Use cover here so video always fills it
                        object-fit: cover;
                    }
                }

                #thumbs {
                    display: flex;
                    justify-content: center;
                    height: 80px;
                    gap: 15px;
                    margin-top: 20px;
                    max-width: 100%;
                    overflow-x: auto;
                    overflow-y: hidden;

                    button {
                        background: #000;
                        padding: 0;
                        border: none;
                        cursor: pointer;
                        height: 100%;
                        overflow: hidden;

                        &.video-thumb {

                            position: relative;

                            &::before {
                                $diameter: 36px;
                                content: "";
                                display: block;
                                position: absolute;
                                width: $diameter;
                                height: $diameter;
                                top: calc(50% - ($diameter / 2));
                                left: calc(50% - ($diameter / 2));
                                background: #000000d1;
                                border-radius: 100%;
                            }

                            &::after {
                                $height: 16px;
                                $width: 10px;
                                content: "";
                                position: absolute;
                                width: 0px;
                                height: 0px;
                                top: calc(50% - ($height / 2));
                                left: calc(50% - ($width / 3));
                                border-top: calc($height / 2) solid transparent;
                                border-bottom: calc($height / 2) solid transparent;
                                border-left: $width solid #ffffffd1;
                            }

                        }

                        img {
                            height: 100%;
                            width: 100%;

                            border: 1px solid #fff;//variables.$pink;
                        }
                    }
                    
                }
            }

            .text {
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h1 {
                    font-size: 3em;
                    color: variables.$pink;
                    margin: 0;
                }

                #testimonial {
                    @include mixins.testimonial-quote;
                    font-size: 90%;
                }
            }

            @media only screen and (min-width: 1200px) {
                flex-direction: row;

                .images {
                    max-width: 40vw;

                    #selected-image {
                        width: min(40vw, calc(60vh * var(--aspect-ratio)));
                    }
                }

                .text {
                    max-width: 36vw;
                }
            }

            &.title-only {
                flex-direction: column;

                .images, .text {
                    max-width: none;
                }
            }
        }
    }
}

body.portfolio-modal-open {
    overflow: hidden;

    #portfolio-modal {
        display: grid;
    }
}