@use "mixins";
@use "variables";

.portfolio-grid {

    margin: 30px 0;
    width: 100%;

    .grid-item {
        // Width for Magic Grid
        $minColumns: 3;
        width: min(200px,calc((100% - ($minColumns * 5px)) / 3));

        // Remove button styles
        background: none;
        padding: 0;
        border: none;

        overflow: hidden;
        height: min-content;
        cursor: pointer;

        // &::after {
        //     content: "";
        //     display: block;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     right: 0;
        //     bottom: 0;
        //     background: #fff;
        //     transition: opacity .3s;
        //     opacity: 0;
        // }

        // @include mixins.hover {
        //     &::after {
        //         opacity: .2;
        //     }
        // }

        img {
            width: 100%;
            transition: transform .7s;

            @include mixins.hover {
                transform: scale(1.2);
            }
        }
    }
}


#portfolio-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: #000000e6;
    display: none;
    justify-content: center;
    align-items: center;
    color: #fff;

    #modal-close {
        position: absolute;
        top: 20px;
        right: 20px;
        background: none;
        padding: 8px 15px;
        color: #fff;
        cursor: pointer;
        border: 1px solid #fff;
        transition: all .3s;

        @include mixins.hover {
            border-color: variables.$pink;
            color: variables.$pink;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        width: 95%;

        .images {
            display: flex;
            flex-direction: column;
            align-items: center;

            #selected-image {
                // max-width: 100%;
                // max-height: 60vh;

                img, video {
                    max-width: 100%;
                    max-height: 60vh;//100%;
                    display: block;
                    margin: auto;

                    border: 1px solid variables.$pink;
                }
            }

            #thumbs {
                display: flex;
                height: 80px;
                gap: 15px;
                margin-top: 20px;
                max-width: 100%;
                overflow-x: auto;
                overflow-y: hidden;

                button {
                    background: none;
                    padding: 0;
                    border: none;
                    cursor: pointer;

                    &.video-thumb {

                        position: relative;

                        &::before {
                            $diameter: 36px;
                            content: "";
                            display: block;
                            position: absolute;
                            width: $diameter;
                            height: $diameter;
                            top: calc(50% - ($diameter / 2));
                            left: calc(50% - ($diameter / 2));
                            background: #000000d1;
                            border-radius: 100%;
                        }

                        &::after {
                            $height: 16px;
                            $width: 10px;
                            content: "";
                            position: absolute;
                            width: 0px;
                            height: 0px;
                            top: calc(50% - ($height / 2));
                            left: calc(50% - ($width / 3));
                            border-top: calc($height / 2) solid transparent;
                            border-bottom: calc($height / 2) solid transparent;
                            border-left: $width solid #ffffffd1;
                        }

                    }

                    img {
                        height: 80px;
                        width: auto;

                        border: 1px solid #fff;//variables.$pink;
                    }
                }
                
            }
        }

        .text {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                font-family: variables.$handwriting;
                font-size: 3em;
                color: variables.$pink;
                margin-bottom: 0;
            }

            #testimonial {
                @include mixins.testimonial-quote;
                font-size: 90%;
            }
        }

        @media only screen and (min-width: 1200px) {
            flex-direction: row;

            .images {
                max-width: 45%;
            }

            .text {
                max-width: 40%;
            }
        }

        &.title-only {
            flex-direction: column;

            .images, .text {
                max-width: none;
            }
        }
    }
}

body.portfolio-modal-open {
    overflow: hidden;

    #portfolio-modal {
        display: flex;
    }
}