@use "variables";
@use "mixins";

.intro-text {
    background: #fff;
    padding: min(20px, 5%) 5%;

    p {
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

.pricing-section {
    position: relative;
    padding: min(5%, 50px);

    // Make sure images don't cause horizontal scrolling
    overflow: hidden;

    .price-group {
        border-radius: 20px;
        padding: min(5%, 50px);
        border: 1px solid #e6e6e6;
        margin: auto;
        max-width: 1100px;
        text-align: center;
        margin-top: min(5%, 50px);
        position: relative;
        box-shadow: 0 0 4px 1px #cacaca47;

        &#celebration-cakes {
            margin-top: 0;
        }

        h2 {
            margin: 0;
            position: relative;
            z-index: 1;
        }

        p {
            max-width: 75%;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            z-index: 1;
        }

        

        .image-container {
            position: absolute;
            bottom: -30px;
            width: 20%;

            img {
                width: 100%;
            }
        }

        &:nth-child(even) {
            .image-container {
                right: -4%;
            }
        }

        &:nth-child(odd) {
            .image-container {
                left: -4%;
            }
        }

        @media only screen and (max-width: 850px) {
            h2 {
                width: min-content;
                margin-left: auto;
                margin-right: auto;
            }

            p {
                max-width: 100%;
            }

            .image-container {
                bottom: auto;
                top: -10px;
                min-width: 105px;
            }

            &:nth-child(even) {
                .image-container {
                    right: -3%;
                }
            }
    
            &:nth-child(odd) {
                .image-container {
                    left: -3%;
                }
            }
        }
    }
}