{% set page = "delivery" %}
{% extends "layout.njk" %}

{% block main %}

    <section class="intro">
        <div class="intro-text">
            <p>I offer delivery for wedding, celebration cakes and cupcakes. Delivery charges vary depending on location - I regularly deliver throughout Berkshire and the surrounding counties, and have also travelled to venues in London, Worcestershire and along the south coast.</p> 
            <p>All wedding cakes are personally delivered and set up at your venue to ensure they arrive in perfect condition.</p>
            <p>Celebration cakes are usually collected, but I can deliver if needed.</p>
        </div>
    </section>

    <section style="background:{{products.weddingCakes.colours.light}}">
        {% include "wedding-venues.njk" %}
    </section>

    {% from "macros/half-image-section.njk" import halfImageSection with context %}
    {{ halfImageSection(
        'Birthday cakes for Downe House School',
        [
            "I'm delighted to offer birthday cakes and celebration cakes for students at Downe House School and other boarding schools in Berkshire."
        ],
        "/delivery/downe-house-school",
        "Read more",
        "/portfolio/" ~ portfolio[venues["downe-house-school"].featuredCakes[0]].images[0].src,
        "Birthday cake delivered to Downe House School"
    ) }}

{% endblock %}